<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="htmldiff.net" version="1.4.0" targetFramework="net471" />
  <package id="MicroCHAP" version="1.2.2.2" targetFramework="net471" />
  <package id="Microsoft.CodeDom.Providers.DotNetCompilerPlatform" version="2.0.1" targetFramework="net471" />
  <package id="Microsoft.VisualStudio.SlowCheetah" version="4.0.8" targetFramework="net471" developmentDependency="true" />
  <package id="Rainbow.Core" version="2.1.2" targetFramework="net471" />
  <package id="Rainbow.Storage.Sc" version="2.1.2" targetFramework="net471" />
  <package id="Rainbow.Storage.Yaml" version="2.1.2" targetFramework="net471" />
  <package id="SitecoreSidekickContentMigrator" version="1.7.0" targetFramework="net471" />
  <package id="SitecoreSidekickFoundation" version="1.7.0" targetFramework="net471" />
</packages>