<div class="client-industry-wrapper">
    <div class="client-industry-item active"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
    <div class="client-industry-item"> 
        {% include "./slider-tab.html" %}
        {% include "./logo-slider.html" %}
    </div>
</div>