<div class="ow-card ow-cardimage">
    <div class="component-content">
        <div class="ow-card-image"><img class=""src="images/mask-group.jpg" alt="Mask Group"/></div>
        <div class="ow-card-content">
            <h3>Sustainability Report <strong>2021</strong></h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is simply dummy text of the printing and typesetting industry. </p>
        </div>
    </div>
    </div>    