<div class="ow-card ow-card-business">
    <div class="component-content">
    <div class="ow-card-background-image"  style="background-image:url(images/image1.jpg);">       
        <div class="ow-card-business-content  white-gray-background">
            <div class="ow-card-text">
            <h3>Spectro</h3>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. </p>
            </div>
            <div class="button-wrapper">
            <a href="#" class="btn btn-primary">See the results</a>  <a href="#" class="btn btn-secondary">See the results</a>
        </div>
        </div>
    </div>
    </div> 
    </div>