
<div class="slider-wrapper ow-banner-data-value ow-bg-overlay" data-slides-to-show="1" data-slides-to-show-tab="2"
data-slides-to-show-mob="1" data-arrow="false" data-dots="false" data-autoplaySpeed="3000000" data-autoplay="true"
data-infinite="true">
<div class="slider-item">
    <div class="slider-image">
        <div class="slide" style="background-image: url('images/banner-img.jpg');">
         <div class="data-value-banner-mobile d-lg-none">
            <label>Innovation</label>
            <h2>We are <br><strong>AMETEK</strong></h2>
         </div>
      </div>
    </div>

    <div class="slider-content">
        <div class="container">
            <div class="row">
               <div class="col-lg-5 mobile-text d-none d-lg-block">
                  <label>Innovation</label>
                  <h2>We are <br><strong>AMETEK</strong></h2>
               </div>

               <div class="col-lg-7">
                  <div class="component ow-card-grid opacity-bg">
                     <div class="component-content">
                        <div class="ow-data-container row">
                           <div class="data-item-list col-lg-6">
                              <div class="item text-white">
                                 <h3>250+</h3>
                                 <p>Global Workforce</p>
                                 <a href="/oneweb-card--full-width" tabindex="-1">Open Positions</a>
                              </div>
                              <div class="item">
                                 <h3>150</h3>
                                 <p>Operating locations in 31 countries</p>
                                 <a href="/oneweb-card--full-width" tabindex="-1">Our Locations</a>
                              </div>
                           </div>
                           <div class="data-item-list col-lg-6">
                              <div class="item">
                                 <h3>250+</h3>
                                 <p>Global Workforce</p>
                                 <a href="/oneweb-card--full-width" tabindex="-1">Open Positions</a>
                              </div>
                              <div class="item">
                                 <h3>150</h3>
                                 <p>Operating locations in 31 countries</p>
                                 <a href="/oneweb-card--full-width" tabindex="-1">Our Locations</a>
                              </div>
                           </div>
                        </div>
                     </div>
                  </div>
               </div>
            </div>

        </div>
    </div>
</div>
</div>