<div class="component ow-accordion">
    <div class="component-content">
                            <div>
                <ul class="items">
                        <li class="item active">
                                <div class="toggle-header" tabindex="0">
                                    <div class="label">
                                        <div class="component">
                                            <div class="component content">
                                                <div class="field-heading">
                                                    Tuition Reimbursement
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="toggle-content">
                                    <div class="description">
                                        <span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</span>
                                    </div>



                                    <div class="accordion-btn-wrapper">
                                            <div class="primary-link"> 
                                              <a class="btn-accordion about-item" title="about-us" href="/about">About Us</a>
                                            </div>
                                            <div class="secondary-link">
                                                    
                                            </div>
                                        </div>
                                </div>
                        </li>
                        <li class="item">
                                <div class="toggle-header" tabindex="-1">
                                    <div class="label">
                                        <div class="component">
                                            <div class="component content">
                                                <div class="field-heading">
                                                    Financial Management Program
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="toggle-content">
                                    <div class="description">
                                        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                    </div>


                              <div class="accordion-btn-wrapper">
                                    <div class="primary-link"> 
                                      <a class="btn-accordion about-item" title="about-us" href="/about">About Us</a>
                                    </div>
                                    <div class="secondary-link">
                                            
                                    </div>
                                </div>
                                </div>
                        </li>
                </ul>
            </div>
    </div>
</div>