<div class="slider-wrapper ow-bg-overlay banner-small banner-text-mobile" data-slides-to-show="1"
    data-slides-to-show-tab="2" data-slides-to-show-mob="1" data-arrow="false" data-dots="false"
    data-autoplaySpeed="3000000" data-autoplay="true" data-infinite="true">
    <div class="slider-item">
        <div class="slider-image">
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
        </div>

        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <h2>News & Press Releases</h2>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>