<div class="business-support-query light-gray-background">
    <div class="business-support-contact">  
        <ul class="active" data-country="USA">
            <li class="phone-number"><a href="tel:610-647-2121"><i class="fas fa-phone-alt" aria-hidden="true"></i> Tel:610-647-2121</a></li>
            <li class="mailto"><a href="mailto:info.corp@ametek.com"><i class="fas fa-envelope" aria-hidden="true"></i> Email: info.corp@ametek.com</a> </li>
        </ul>
        <ul data-country="India">
            <li class="phone-number"><a href="tel:610-647-2121"><i class="fas fa-phone-alt" aria-hidden="true"></i> Tel:710-647-2121</a></li>
            <li class="mailto"><a href="mailto:info.corp@ametek.com"><i class="fas fa-envelope" aria-hidden="true"></i> Email: info.india@ametek.com</a> </li>
        </ul>
        <ul data-country="China">
            <li class="phone-number"><a href="tel:610-647-2121"><i class="fas fa-phone-alt" aria-hidden="true"></i> Tel:810-647-2121</a></li>
            <li class="mailto"><a href="mailto:info.corp@ametek.com"><i class="fas fa-envelope" aria-hidden="true"></i> Email: info.china@ametek.com</a> </li>
        </ul>
    </div>

    <div class="business-support-dropdown">
        <p> Where do you need support? </p>
        <div class="dropdown">
            <select> 
                <option value="USA"> USA </option>
                <option value="India"> India </option>
                <option value="China"> China </option>
            </select> 
        </div>
        
    </div>

</div>