<div class="business-list">
    <div class="row">
        <div class="col-md-4">
            <div class="business-logo">
                <img src="images/business-logo.png" />
            </div>
            <div class="business-address mt-3">
                <p>
                2300 Dulles Station Blvd.<br/>
                6th Floor<br/>
                Herndon, Virginia 20171<br/>
            </p>
            </div>
        </div>
        <div class="col-md-8">
            <div class="row">
                <div class="col-md-4 business-list-items mb-3">
                    <h3 class="mb-2"> Products </h3>
                    <ul>
                        <li> 
                            <a href="#"> ICP-OES Spectrometers </a>
                        </li>
                        <li> 
                            <a href="#"> XRF Spectrometers </a>
                        </li>
                        <li> 
                            <a href="#"> XRF Handheld Analyzer </a>
                        </li>
                        <li> 
                            <a href="#"> Mobile Metal Analyzers </a>
                        </li>
                        
                        
                    </ul>
                </div>

                <div class="col-md-4 business-list-items mb-3">
                    <h3 class="mb-2"> Brand </h3>
                    <ul>
                        <li> 
                             ICP-OES Spectrometers 
                        </li>
                        <li> 
                            XRF Spectrometers 
                        </li>
                        <li> 
                            XRF Handheld Analyzer 
                        </li>
                        <li> 
                             Mobile Metal Analyzers 
                        </li>
                        
                        
                    </ul>
                </div>

                <div class="col-md-4 business-list-items mb-3">
                    <h3 class="mb-2"> Industry </h3>
                    <ul>
                        <li> 
                            ICP-OES Spectrometers 
                        </li>
                        <li> 
                             XRF Spectrometers 
                        </li>
                        <li> 
                            XRF Handheld Analyzer 
                        </li>
                        <li> 
                             Mobile Metal Analyzers 
                        </li>
                        
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>