<div class="ow-card mb-4">
    <div class="ow-business">
        <div class="business-info white-gray-background">
            <div class="business-content">
                <label class="taxonomy" style="background-color: blue;"> Business </label>
                <h3> SkyBitz </h3>
                <div class="business-link">
                    <a href="#">skybitz.com </a>
                </div>
                <a href="#" class="suggestion-label"> AMETEK NCC CORPORATE </a>
                <a href="#" class="suggestion-label"> AMETEK NCC CORPORATE </a>

                <div class="discription-paragraph"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the
                    industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type
                    and scrambled it to make a type specimen book. </div>

            </div>
            <div class="business-img" style="background-image: url('./images/vision-research.jpg');">
                <div class="business-detail-toggle">
                    <span> </span>
                    <span> </span>
                </div>
                <div class="business-cta">
                    <div class="business-detail-cta">
                        <i class="far fa-list-alt"></i>
                        Business Directory Details
                    </div>
                    <div class="business-support">
                        <ul>
                            <li>
                                <a href="#">
                                    <i class="fas fa-external-link-alt"></i>
                                    SkyBitz Support
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fas fa-phone-alt"></i>
                                    800.Contact.SkyBitz
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
        <div class="business-details">
            {% include "./business-list.html" %}
            {% include "./business-support.html" %}
        </div>
    </div>
</div>