<div class="ow-data-container row">
    <div class="data-item-list col-lg-4">
        <div class="item">
            <h3>250+</h3>
            <p>Global workforce</p>
            <a href="#">open positions</a>
        </div>

        <div class="item">
            <h3>150</h3>
            <p>Global workforce</p>
            <a href="#">open positions</a>
        </div>
    </div>

    <div class="data-item-list col-lg-4">
        <div class="item">
            <h3>250+</h3>
            <p>Global workforce</p>
            <a href="#">open positions</a>
        </div>

        <div class="item">
            <h3>150</h3>
            <p>Global workforce</p>
            <a href="#">open positions</a>
        </div>
    </div>

    <div class="data-item-list col-lg-4">
        <div class="item">
            <h3>175</h3>
            <p>Global workforce</p>
            <a href="#">open positions</a>
        </div>

        <div class="item">
            <h3>150</h3>
            <p>Global workforce</p>
            <a href="#">open positions</a>
        </div>
    </div>

</div>
