<div class="filter-facet-wrapper mb-lg-5">
    <div class="filter-facet-head">
        Brand
    </div>
    <div class="filter-facet-items">
        <div class="filter-item">
            <input id="1" type="checkbox" />
            <label for="1"> Amptex </label>
           
        </div>

        <div class="filter-item">
            <input id="2" type="checkbox" />
            <label for="2"> Amptex </label>
           
        </div>

        <div class="filter-item">
            <input id="3" type="checkbox" />
            <label for="3"> Amptex </label>
           
        </div>
    </div>
    <div class="filter-facet-clear">
        <a class="check-all" href="javascript:void()">Reset</a>
        <!-- <a class="uncheck-all" href="javascript:void()">Uncheck All </a> -->
    </div>
</div>