<div class="ow-card-business ow-card-full-width">
    <div class="ow-card-background-image" >        
    <div class="ow-card-business-content  white-gray-background">
        <div class="ow-card-text">
        <h3>Spectro</h3>
        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard. </p>
       </div>
       <div class="button-wrapper">
        <a href="#" class="btn btn-secondary">See the results</a>
    </div>
</div>
<div class="ow-card-image-bg ow-lazy" style="background-image:url(images/image2.jpg);">
</div>
</div>
</div>