<div class="ow-card locations-wrapper white-gray-background">
    <div class="ow-card-content">
        <div class="col-12">
            <h3>Italy</h3>
        </div>
        <div class="col-lg-4 col-md-6 locations">
            <div class="locations-detail">
                <h4>AMETEK Italy</h4>
                <p>Sales for Global Speciality Motors</br>Via De Barzi</br>Robecco Sul Naviglio
                    20087</br>Milan,
                    Italy</p>
            </div>
            <div class="locations-info">
                <a href="tel:999999"><i class="fas fa-phone-alt fa-fw" aria-hidden="true"></i>&nbsp;Tel: +39
                    02-946931</a>
                <a href="fax:999999"><i class="fas fa-fax fa-fw" aria-hidden="true"></i>&nbsp;Fax: +39
                    02-94970518</a>
                <a class="web-link" href="www.ametekfsm.com">www.ametekfsm.com</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 locations">
            <div class="locations-detail">
                <h4>AMETEK Italy</h4>
                <p>Sales for Global Floorcare Motors</br>Via De Gasperi 18/A</br>Ripalta Cremasca
                    26010</br>Cremona,
                    Italy</p>
            </div>
            <div class="locations-info">
                <a href="tel:999999"><i class="fas fa-phone-alt fa-fw" aria-hidden="true"></i>&nbsp;Tel: +39
                    0373-2102</a>
                <a href="fax:999999"><i class="fas fa-fax fa-fw" aria-hidden="true"></i>&nbsp;Fax: +39
                    0373-268200</a>
                <a class="web-link" href="www.ametekfsm.com">www.ametekfsm.com</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 locations">
            <div class="locations-detail">
                <h4>AMETEK Italy</h4>
                <p>Sales for AMETEK Products in Italy</br>Via della Liberazione 24</br>Peschiera Borromeo
                    20068, Milano,
                    Italy</p>
            </div>
            <div class="locations-info">
                <a href="tel:999999"><i class="fas fa-phone-alt fa-fw" aria-hidden="true"></i>&nbsp;Tel: +39
                    02-946931</a>
                <a href="fax:999999"><i class="fas fa-fax fa-fw" aria-hidden="true"></i>&nbsp;Fax: +39
                    02-94693650</a>
                <a href="mailto:info-it@ametek.com"><i class="far fa-envelope fa-fw" aria-hidden="true"></i>&nbsp;Email:
                    info-it@ametek.com</a>
                <a class="web-link" href="www.ametekinstruments.it">www.ametekinstruments.it</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 locations">
            <div class="locations-detail">
                <h4>AMETEK Italy</h4>
                <p>Sales for Global Speciality Motors</br>Via De Barzi</br>Robecco Sul Naviglio
                    20087</br>Milan,
                    Italy</p>
            </div>
            <div class="locations-info">
                <a href="tel:999999"><i class="fas fa-phone-alt fa-fw" aria-hidden="true"></i>&nbsp;Tel: +39
                    02-946931</a>
                <a href="fax:999999"><i class="fas fa-fax fa-fw" aria-hidden="true"></i>&nbsp;Fax: +39
                    02-94970518</a>
                <a class="web-link" href="www.ametekfsm.com">www.ametekfsm.com</a>
            </div>
        </div>
        <div class="col-lg-4 col-md-6 locations">
            <div class="locations-detail">
                <h4>AMETEK Italy</h4>
                <p>Sales for Global Floorcare Motors</br>Via De Gasperi 18/A</br>Ripalta Cremasca
                    26010</br>Cremona,
                    Italy</p>
            </div>
            <div class="locations-info">
                <a href="tel:999999"><i class="fas fa-phone-alt fa-fw" aria-hidden="true"></i>&nbsp;Tel: +39
                    0373-2102</a>
                <a href="fax:999999"><i class="fas fa-fax fa-fw" aria-hidden="true"></i>&nbsp;Fax: +39
                    0373-268200</a>
                <a class="web-link" href="www.ametekfsm.com">www.ametekfsm.com</a>
            </div>
        </div>
    </div>
</div>