<div class="slider-wrapper ow-bg-overlay" data-slides-to-show="1" data-slides-to-show-tab="1"
    data-slides-to-show-mob="1" data-arrow="true" data-dots="false" data-autoplaySpeed="3000000" data-autoplay="true"
    data-infinite="true">
    <div class="slider-item">
        <div class="slider-image">
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
        </div>

        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <label>Innovation</label>
                        <h2>Ultimate smallness. The Angstrom scale.</h2>
                        <p> A story about how one of AMETEK businesses is pushing a boundary in their vertical and
                            competency. Home page real estate that businesses should compete for</p>
                        <a href="#" class="btn btn-tertiary"> See The Result </a>
                        <a href="#" class="btn btn-tertiary"> Get a Quote </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="slider-image">
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
        </div>

        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <label>Innovation</label>
                        <h2>Ultimate smallness. The Angstrom scale.</h2>
                        <p> A story about how one of AMETEK businesses is pushing a boundary in their vertical and
                            competency. Home page real estate that businesses should compete for</p>
                        <a href="#" class="btn btn-tertiary"> See The Result </a>
                        <a href="#" class="btn btn-tertiary"> Get a Quote </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="slider-item">
        <div class="slider-image">
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
        </div>

        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <label>Innovation</label>
                        <h2>Ultimate smallness. The Angstrom scale.</h2>
                        <p> A story about how one of AMETEK businesses is pushing a boundary in their vertical and
                            competency. Home page real estate that businesses should compete for</p>
                        <a href="#" class="btn btn-tertiary"> See The Result </a>
                        <a href="#" class="btn btn-tertiary"> Get a Quote </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>





<div class="slider-wrapper ow-bg-overlay mt-5 banner-small banner-text-mobile" data-slides-to-show="1"
    data-slides-to-show-tab="2" data-slides-to-show-mob="1" data-arrow="false" data-dots="false"
    data-autoplaySpeed="3000000" data-autoplay="true" data-infinite="true">
    <div class="slider-item">
        <div class="slider-image">
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
        </div>

        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 banner-md-font">
                        <h2>News & Press Releases</h2>
                        <p>Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
                            printer took a galley of type and scrambled it to make a type specimen book.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>



<div class="ow-bg-overlay image-slider mb-5">
    <div class="slider-item">
        <div class="slider-image" data-slides-to-show="1" data-slides-to-show-tab="1" data-slides-to-show-mob="1"
            data-arrow="false" data-dots="false" data-autoplaySpeed="3000" data-autoplay="true" data-infinite="true">
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
            <div class="slide" style="background-image: url('images/banner-img.jpg');"></div>
        </div>

        <div class="slider-content">
            <div class="container">
                <div class="row">
                    <div class="col-lg-7">
                        <label>Innovation</label>
                        <h2>Ultimate smallness. The Angstrom scale.</h2>
                        <p> A story about how one of AMETEK businesses is pushing a boundary in their vertical and
                            competency. Home page real estate that businesses should compete for</p>
                        <a href="#" class="btn btn-tertiary"> See The Result </a>
                        <a href="#" class="btn btn-tertiary"> Get a Quote </a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>



<div class="ow-video-banner ow-bg-overlay mb-5">
    <div class="video-container">
        <iframe src="https://www.youtube.com/embed/Be1mLfmKT5w?modestbranding=1&controls=0&showinfo=0&rel=0&autoplay=1&loop=1&mute=1&loop=1"
            allow="accelerometer; autoplay; loop; encrypted-media; gyroscope; picture-in-picture" frameborder="0"
            allowfullscreen></iframe>
        <img src="images/banner-img.jpg" alt="banner">
    </div>

    <div class="slider-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <label>Innovation</label>
                    <h2>Ultimate smallness. The Angstrom scale.</h2>
                    <p> A story about how one of AMETEK businesses is pushing a boundary in their vertical and
                        competency. Home page real estate that businesses should compete for</p>
                    <a href="#" class="btn btn-tertiary"> See The Result </a>
                    <a href="#" class="btn btn-tertiary"> Get a Quote </a>
                </div>
            </div>

        </div>
    </div>

</div>


<div class="ow-video-banner ow-bg-overlay mb-5">
    <div class="video-container">
        <video class="banner-video d-none d-xl-block" playsinline="playsinline" autoplay="autoplay" muted="muted"
            loop="loop">
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <img class="banner-img d-xl-none" src="images/banner-img.jpg" alt="banner">
    </div>

    <div class="slider-content">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <label>Innovation</label>
                    <h2>Ultimate smallness. The Angstrom scale.</h2>
                    <p> A story about how one of AMETEK businesses is pushing a boundary in their vertical and
                        competency. Home page real estate that businesses should compete for</p>
                    <a href="#" class="btn btn-tertiary"> See The Result </a>
                    <a href="#" class="btn btn-tertiary"> Get a Quote </a>
                </div>
            </div>

        </div>
    </div>

</div>

<div class="col-7">
<div class="ow-video-banner mb-5">
    <div class="videowraper videoplay-btn">
        <video playsinline="playsinline"  muted="muted"  controls>
            <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
        </video>
        <div class="playpause">
            <img tabindex="0" class="play-video" src=" http://png-4.findicons.com/files/icons/2315/default_icon/256/media_play_pause_resume.png">
        </div>
        <img class="banner-img" src="images/banner-img.jpg" alt="banner">
    </div>

    

</div>
</div>