<div class="left-navigation">
<div class="leftnav-menu w-100">
    <h3 class="left-menu-title">Product Categories</h3>
    <ul class="leftmenu">
        <li>
            <span class="d-flex align-items-center">
                <span class="dropdwon-arrow"></span>
            <a href="google.com" class="slde-link"> 
                Aerospace & Defense
            </a>
            </span>
            <ul class="sub-menu">
                <li><a href="javascript:void(0)">Sub Menu</a></li>
                
            </ul>
        </li>
        <li>
            <span class="d-flex align-items-center">
                <span class="dropdwon-arrow"></span>
            <a href="google.com" class="slde-link"> 
                Aerospace & Defense
            </a>
            </span>
            <ul class="sub-menu">
                <li><a href="#">Sub Menu</a></li>
                <li><a href="#">Sub Menu</a></li>
            </ul>
        </li>
        <li>
            <span class="d-flex align-items-center">
                <span class="dropdwon-arrow"></span>
            <a href="google.com" class="slde-link"> 
                Aerospace & Defense
            </a>
            </span>
            <ul class="sub-menu">
                <li><a href="#">Sub Menu</a></li>
                <li><a href="#">Sub Menu</a></li>
            </ul>
        </li>
        <li>
            <span class="d-flex align-items-center">
                <span class="dropdwon-arrow"></span>
            <a href="google.com" class="slde-link"> 
                Aerospace & Defense
            </a>
            </span>
            <ul class="sub-menu">
                <li><a href="#">Sub Menu</a></li>
                <li><a href="#">Sub Menu</a></li>
            </ul>
        </li>
        <li>
            <span class="d-flex align-items-center">
                <span class="dropdwon-arrow"></span>
            <a href="google.com" class="slde-link"> 
                Aerospace & Defense
            </a>
            </span>
            <ul class="sub-menu">
                <li><a href="#">Sub Menu</a></li>
                <li><a href="#">Sub Menu</a></li>
            </ul>
        </li>
        <li>
            <span class="d-flex align-items-center">
                <span class="dropdwon-arrow"></span>
            <a href="google.com" class="slde-link"> 
                Aerospace & Defense
            </a>
            </span>
            <ul class="sub-menu">
                <li><a href="#">Sub Menu</a></li>
                <li><a href="#">Sub Menu</a></li>
            </ul>
        </li>

    </ul>

</div>
</div>