<div class="client-industry-logos"> 
    <div class="slider-wrapper" data-slides-to-show="1" data-slides-to-show-tab="1"
data-slides-to-show-mob="1" data-arrow="false" data-dots="true" data-autoplaySpeed="3000000" data-autoplay="false"
data-infinite="true">
        <div class="slider-item">
            <div class="row align-items-center">
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-4">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
            </div>

        </div>
        <div class="slider-item">
            <div class="row align-items-center">
                <div class="col-6">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-6">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col-6">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                <div class="col-6">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
            </div>

        </div>
        <div class="slider-item">
            <div class="row align-items-center">
                <div class="col-12">
                    <a href="#"> 
                        <img src="images/logo.png"/>
                    </a>
                </div>
                
            </div>
            

        </div>
        
    </div>
</div>