<nav> 
    <ul class="mega-nav">
        <li class="has-menu">
            <a href="javascript:void(0)" > About </a>
            <div class="mega-nav-level1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="block-image"> 
                                <h2> About Us </h2>
                                <p> Solving our customers’ most complex challenges with differentiated technology solutions </p>
                                <img src="images/nav-image.jpg" alt="About Us" />
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <ul class="mega-nav-level2">
                                <li> 
                                    <a href="javascript:void(0)" > Overview </a>
                                </li>
                                
                                <li> 
                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > News & Press Releases </a>
                                </li>
                                <li class="has-child"> 
                                    <a href="javascript:void(0)"> Trade Shows </a>
                                    <ul class="mega-nav-level3">
                                        <div class="menu-back">
                                            <div class="back-to-menu">Back</div>
                                            <h4> Trade shows </h4>
                                        </div>
                                        <li> 
                                            <a href="javascript:void(0)" > Overview </a>
                                        </li>
                                        <li class="has-child"> 
                                            <a href="javascript:void(0)"> The AMETEK Growth Model </a>
                                            <ul class="mega-nav-level4">
                                                <div class="menu-back">
                                                    <div class="back-to-menu">Back</div>
                                                    <h4> The AMETEK Growth Model </h4>
                                                </div>
                                                <li> 
                                                    <a href="javascript:void(0)" > Overview </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > News & Press Releases </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Trade Shows </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Corporate Culture </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Management Team </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Diversity </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Governance </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Global Locations </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Lorem Ipsum </a>
                                                </li>
                        
                                                <li> 
                                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > News & Press Releases </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Trade Shows </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Corporate Culture </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Management Team </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Diversity </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Governance </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Global Locations </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Lorem Ipsum </a>
                                        </li>
                
                                        <li> 
                                            <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Governance </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Global Locations </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Lorem Ipsum </a>
                                        </li>
                
                                        <li> 
                                            <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                        </li>
                                    </ul>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Corporate Culture </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Management Team </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Diversity </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Governance </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Global Locations </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Lorem Ipsum </a>
                                </li>
        
                                <li> 
                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                </li>
                                


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" > Businesses </a>
        </li>
        <li class="has-menu">
            <a href="javascript:void(0)" > Sustainability </a>
            <div class="mega-nav-level1">
                <div class="container">
                    <div class="row">
                        <div class="col-md-3">
                            <div class="block-image"> 
                                <h2> About Us </h2>
                                <p> Solving our customers’ most complex challenges with differentiated technology solutions </p>
                                <img src="images/nav-image.jpg" alt="About Us" />
                            </div>
                        </div>
                        <div class="col-lg-9">
                            <ul class="mega-nav-level2">
                                <li> 
                                    <a href="javascript:void(0)" > Overview </a>
                                </li>
                                
                                <li> 
                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > News & Press Releases </a>
                                </li>
                                <li class="has-child"> 
                                    <a href="javascript:void(0)"> Trade Shows </a>
                                    <ul class="mega-nav-level3">
                                        <li> 
                                            <a href="javascript:void(0)" > Overview </a>
                                        </li>
                                        <li class="has-child"> 
                                            <a href="javascript:void(0)"> The AMETEK Growth Model </a>
                                            <ul class="mega-nav-level4">
                                                <li> 
                                                    <a href="javascript:void(0)" > Overview </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > News & Press Releases </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Trade Shows </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Corporate Culture </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Management Team </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Diversity </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Governance </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Global Locations </a>
                                                </li>
                                                <li> 
                                                    <a href="javascript:void(0)" > Lorem Ipsum </a>
                                                </li>
                        
                                                <li> 
                                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                                </li>
                                            </ul>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > News & Press Releases </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Trade Shows </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Corporate Culture </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Management Team </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Diversity </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Governance </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Global Locations </a>
                                        </li>
                                        <li> 
                                            <a href="javascript:void(0)" > Lorem Ipsum </a>
                                        </li>
                
                                        <li> 
                                            <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                        </li>
                                    </ul>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Corporate Culture </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Management Team </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Diversity </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Governance </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Global Locations </a>
                                </li>
                                <li> 
                                    <a href="javascript:void(0)" > Lorem Ipsum </a>
                                </li>
        
                                <li> 
                                    <a href="javascript:void(0)" > The AMETEK Growth Model </a>
                                </li>
                                


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </li>
        <li>
            <a href="javascript:void(0)" > Investors </a>
        </li>
        <li>
            <a href="javascript:void(0)" > Carreers </a>
        </li>
        
        <li class="d-lg-none"> 
            <a href="javascript:void(0)" > Contact </a>
        </li>
    </ul>
</nav>