<div id="videoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-wrapper">
                <img src="images/banner-img.jpg" alt="popup image">
                <div class="iframe-wrapper">
                    <iframe type="text/html" data-src="https://player.vimeo.com/video/375004590?muted=1&amp;autoplay=1"
                        allowfullscreen=""></iframe>
                        <div class="iframe-overlay"> 
                            <img src="images/banner-img.jpg" alt="popup image"/>
                            <img src="images/play-icon.svg" class="play-video"/>
                        </div>
                </div>
                <div class="text-wrapper">
                    <h4>Better Patient Care</h4>
                    <p>Safer, More Efficient Technologies</p>
                </div>
            </div>
        </div>
    </div>
</div>