<div class="ow-card ow-card-business">
        <div class="component-content">
                <div class="ow-card-background-image" style="background-image:url(images/image2.jpg);">
                        <div class="ow-card-business-content white-gray-background">
                                <div class="ow-card-text">
                                        <label class="label" style="background:#0DD5FC; color:#fff;">CORPORATE</label>
                                        <h3>Sheldon Thorpe Elected Vice President of Human Resources</h3>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
                                                Ipsum has been the industry's standard. </p>
                                </div>
                                <div class="button-wrapper">
                                        <a href="#" class="btn btn-primary">See the results</a>
                                        <a href="#" class="btn btn-secondary">See the results</a>
                                </div>
                        </div>
                </div>
        </div>
</div>