
<div class="col-12 d-none d-lg-block mb-4">
    <div class="float-right list-grid-view">
        <span>Views as:</span>    
        <span class="card-view">Card<i class="fas fa-th"></i></span>
        <span class="list-view active">List<i class="fas fa-list"></i></span>
    </div>
</div>

<div class="col-12 filter-result"> 
    {% include "./news-item.html" %}
    {% include "./news-item.html" %}
    {% include "./news-item.html" %}
    {% include "./news-item.html" %}
    {% include "./news-item.html" %}
    {% include "./news-item.html" %}
    {% include "./news-item.html" %}
    {% include "./news-item.html" %}

    <div class="load-more text-center w-100"> 
        <a href="#" class="btn btn-secondary"> Load More  </a>
    </div>

</div>


<!-- {% include "./search-with-suggestion.html" %} -->