<div class="ow-card-news">
    <a href="#">
    <label style="background-color: #0DD5FC;"> CORPORATE </label>
    <h3> AMETEK Powervar Announces New Local Area Power Center Engineered to Provide Total Site Protection from a Single UPS </h3>
    <a href="#" class="suggestion-label attached"> <i class="fa fa-file-pdf-o"></i> Attached PDF</a>
    <label class="suggestion-label"> AMETEK NCC <i class="far fa-times-circle"></i> </label>
    <label class="suggestion-label"> AMETEK NCC CORPORATE <i class="far fa-times-circle"></i> </label>
    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
    <div class="date"> 12/03/2020 </div>
</a>

</div>