<div class="filter-search-wrapper search-half-overflow mb-3 col-12"> 
    <div class="filter-search">
        <input type="text" class="search-box-input" autocomplete="off" name="textBoxSearch" placeholder="Search..">
        <a class="clear-text" href="javascript:void(0)"></a>
        <button class="icon-search" type="submit">   </button>
        <div class="ow-container d-none">
        <div class="result-item-wrapper"> 
            <div class="result-value"> 12 results for <span class="primary-color">Services</span></div>
            {% include "./search-result.html" %}
            {% include "./search-result.html" %}
        </div>
    </div>
    </div>
    <div class="filter-facets mt-2">
        <span class="search-for"> Showing 6 of 18 results for 
            <span class="search-value">Spectrometer </span> 
        </span>
        <label class="suggestion-label"> AMETEK NCC <i class="far fa-times-circle"></i> </label>
        <label class="suggestion-label"> AMETEK NCC <i class="far fa-times-circle"></i> </label>
        <label class="suggestion-label"> AMETEK NCC <i class="far fa-times-circle"></i> </label>
        
    </div>
</div>