<div class="ow-card">
  <div class="component-content">
  <div class="ow-card-background-image text-white ow-lazy" data-src="./images/aboutus-banner.jpg" style='background-image:url("./images/aboutus-banner.jpg")'>
    <div class="ow-card-bg">
      <div class="ow-card-content">
        <h3>Making a global difference</h3>
        <p>AMETEK solves its customer’s most-challenging problems with differentiated technology solutions. With
          operations in more than 30 countries, our businesses serve a diverse range of industries with a portfolio of
          market-leading products and brands.</p>
        <p>AMETEK’s businesses are truly making a GLOBAL DIFFERENCE</p>
        <a href="#" class="btn btn-primary">Find your career</a>
        <a href="#" class="btn btn-primary">Find your career</a>
      </div>
    </div>
  </div>
  </div>
</div>