<div class="ow-card">
    <div class="ow-card-content">
        <h3>
            <div class="d-flex justify-content-between align-items-center">
                <span class="text">African American Council</span>
                <span class="symbol">+</span>
                <span class="text">Women's Business Council</span>
            </div>
        </h3>
        <p>Our commitment to diversity and inclusion is strengthened through our African American Council and Women's
            Business Council.</p>
    </div>
</div>