<div class="sitemap-wrapper">
    <div class="col-md-6 col-lg-3 sitemap-tile">
        <h3>
            <a>AMETEK</a>
        </h3>
        <ul>
            <li>
                <a href="www.google.co.in">
                    Overview
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Sustainability at AMETEK
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    AMETEK Growth Model
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 sitemap-tile">
        <h3>
            <a>ABOUT US</a>
        </h3>
        <ul>
            <li>
                <a href="www.google.co.in">
                    Business
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Overview
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Sustainability at AMETEK
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    AMETEK Growth Model
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Management Team
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Supplier Responsibilities
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 sitemap-tile">
        <h3>
            <a>PRODUCTS</a>
        </h3>
        <ul>
            <li>
                <a href="www.google.co.in">
                    Aerospace & Defense
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Engineered Materials
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Heavy Vehicle and OEM Products
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Industrial Products
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Materials Analysis and Imaging
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Medical
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Motors / Motion Control
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Oil & Gas / Power
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Process Instruments
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Measurement, Communications & Testing
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 sitemap-tile">
        <h3>
            <a>NEWS</a>
        </h3>
        <ul>
            <li>
                <a href="www.google.co.in">
                    News at a Glance
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Product and Business News
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Corporate and Financial News
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Trade Shows
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 sitemap-tile">
        <h3>
            <a>CAREERS</a>
        </h3>
        <ul>
            <li>
                <a href="www.google.co.in">
                    Careers at AMETEK
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Jobs
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 sitemap-tile">
        <h3>
            <a>INVESTORS</a>
        </h3>
        <ul>
            <li>
                <a href="www.google.co.in">
                    Overview
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    News & Events
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Financial Information
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Stock Information
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Governance
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Contact
                </a>
            </li>
        </ul>
    </div>
    <div class="col-md-6 col-lg-3 sitemap-tile">
        <h3>
            <a>CONTACT US</a>
        </h3>
        <ul>
            <li>
                <a href="www.google.co.in">
                    Mail
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Financial Information
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Facebook
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Telephone
                </a>
            </li>
            <li>
                <a href="www.google.co.in">
                    Fax
                </a>
            </li>
        </ul>
    </div>
</div>