@using OneWeb.Foundation.SitecoreExtensions.Extensions
<div id="videoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div> </div>
        <div class="modal-content">
        </div>
    </div>
</div>