<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<httpRequestBegin>
				<processor type="OneWeb.Foundation.Login.Pipelines.GatedContent, OneWeb.Foundation.Login" patch:after="processor[@type='Sitecore.Pipelines.HttpRequest.ItemResolver, Sitecore.Kernel']"/>
			</httpRequestBegin>
		</pipelines>
	</sitecore>
</configuration>