@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model OneWeb.Feature.Navigation.Models.NavigationRenderingModel

@if (Model.Children.Any() || Html.Sxa().IsEdit)
{
	<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "ow-navigation", Model.Attributes)>
		<div class="component-content">
			@foreach (var variantField in Model.VariantFields)
			{
				@Html.RenderingVariants().RenderVariant(variantField, Model.Item, Model.RenderingWebEditingParams, Model)
			}
		</div>
	</div>
}