<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<footer class="animation-element">
    <div id="footer">
        <div class="component container-fluid">
            <div class="component-content">
                <div class="component row">
                    <div class="component container">
                        <div class="component-content">
                            <!-- logos row start from here... -->
                            <div class="component row">
                                <div class="component col-12 d-flex footer-logos">
                                    <div class="component image file-type-icon-media-link">
                                        <div class="component-content">
                                            <a title="Default Logo" href="/">
                                                <img src="images/creaform-white-logo.svg" alt="logo"></a>
                                        </div>
                                    </div>
                                    <div class="component image file-type-icon-media-link seprater-line">
                                        <div class="component-content">
                                            <a title="Default Logo" href="/">
                                                <img src="images/ametek-logo-white.svg" alt="logo"></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="component row">
                                <div class="component container footer-link-items link-list-footer">
                                    <div class="component col-md-3">
                                        <div class="component row">
                                            <div class="component col-12 footer-container">
                                                <div class="component footer-links-container">
                                                    <h4><a href="javascript:void(0)">How to buy</a></a></h4>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Contact Us</a></li>
                                                        <li><a href="javascript:void(0)">Ask for a Demo</a></li>
                                                        <li><a href="javascript:void(0)">Contact Us</a></li>
                                                        <li><a href="javascript:void(0)">Ask for a Demo</a></li>
                                                    </ul>
                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    <div class="component col-md-3">
                                        <div class="component row">
                                            <div class="component col-12 footer-container">
                                                <div class="component footer-links-container">
                                                    <h4><a href="javascript:void(0)">Customer Care</a></h4>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Customer Center</a></li>
                                                        <li><a href="javascript:void(0)">Resources</a></li>
                                                        <li><a href="javascript:void(0)">Customer Center</a></li>
                                                        <li><a href="javascript:void(0)">Resources</a></li>
                                                    </ul>
                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    <div class="component col-md-3">
                                        <div class="component row">
                                            <div class="component col-12 footer-container">
                                                <div class="component footer-links-container">
                                                    <h4><a href="javascript:void(0)">Partners</a></h4>
                                                    <ul>
                                                        <li><a href="javascript:void(0)">Partners Portal</a></li>
                                                        <li><a href="javascript:void(0)">Become a distributor</a></li>

                                                    </ul>
                                                </div>
                                               
                                            </div>

                                        </div>
                                    </div>
                                    <div class="component col-md-3">
                                        <div class="component row">
                                            <div class="component col-12 footer-container">
                                                <div class="component footer-links-container footer-social-icons">
                                                    <h4><a href="javascript:void(0)">Follow Us</a></h4>
                                                    <ul>
                                                        <li>
                                                            <a href="javascript:void(0)"><i
                                                                    class="fab fa-facebook"></i>Join our community</a>
                                                        </li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="fab fa-twitter"></i>Watch & learn</a></li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="fab fa-youtube"></i>Stay up-to-date</a></li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="fab fa-instagram"></i>Latest updates</a></li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="fab fa-linkedin"></i>Watch & learn</a></li>

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="component row footer-cards-items">
                                <div class="col-md-4 col-lg-3 mb-3">
                                    {% include "../../components/component-footer-card.html" %}
                                </div>
                                <div class="col-md-4 col-lg-3 mb-3">
                                    {% include "../../components/component-footer-card.html" %}
                                </div>
                                <div class="col-md-4 col-lg-3 mb-3">
                                    {% include "../../components/component-footer-cardv2.html" %}
                                </div>
                                <div class="col-md-4 col-lg-3 mb-3">
                                    {% include "../../components/component-footer-card.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="component container-fluid engineering-footer">
            <div class="component-content">
                <div class="component row">
                    <div class="component container">
                        <div class="component-content">
                            <!-- logos row start from here... -->
                            <div class="component row">
                                <div class="component col-12  footer-logos">
                                    <div class="component image file-type-icon-media-link">
                                        <div class="component-content">
                                            <a title="Default Logo" href="/">
                                                <img src="images/creaform-white-logo.svg" alt="logo"></a>
                                        </div>
                                        <div class="component-content">
                                            <a title="Default Logo" href="/">
                                                <img src="images/ametek-logo-white.svg" alt="logo"></a>
                                        </div>
                                    </div>
                                    
                                </div>

                            </div>
                            <div class="component row">
                                <div class="component container footer-link-items link-list-footer">
                                    <div class="component col-md-3">
                                        <div class="component row">
                                            <div class="component col-12 footer-container">
                                                <div class="component footer-links-container">
                                                  
                                                    <ul>
                                                        <li>We delivered full-scale engineering services, staff outsourcing and training in product design, industrial design, engineering, and numerical simulation for major corporations and SMBs in many industries. </li>
                                                       
                                                    </ul>
                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    <div class="component col-md-3">
                                        <div class="component row">
                                            <div class="component col-12 footer-container footer-address">
                                                <div class="component footer-links-container ">
                                                    <h4><a href="javascript:void(0)">Customer Care</a></h4>
                                                    <ul>
                                                        <li>Open Monday to Friday,
                                                            8:30 AM to 4:30 PM (EST)</li>
                                                       
                                                    </ul>
                                                </div>
                                                <div class="component footer-links-container footer-contact-us">
                                                    <ul>
                                                        <li>Contact Us</li>
                                                        <li><a tel="+1 877-959-3098" href="javascript:void(0)">+1 877-959-3098</a></li>
                                                    </ul>
                                                </div>
                                                
                                            </div>

                                        </div>
                                    </div>
                                    <div class="component col-md-3">
                                        <div class="component row">
                                            <div class="component col-12 footer-container">
                                                <div class="component footer-links-container footer-social-icons">
                                                    <h4><a href="javascript:void(0)">Follow Us</a></h4>
                                                    <ul>
                                                        
                                                        <li><a href="javascript:void(0)"><i
                                                            class="fab fa-instagram"></i>Latest updates</a></li>
                                                        <li><a href="javascript:void(0)"><i
                                                                    class="fab fa-youtube"></i>Stay up-to-date</a></li>
                                                       
                                                       

                                                    </ul>
                                                </div>

                                            </div>

                                        </div>
                                    </div>
                                    
                                </div>
                            </div>
                            <div class="component row">
                                cards come here....
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>

        <!-- secondary footer  -->
        <div class="component container-fluid separator-line-top">
            <div class="component-content">
                <div class="component row">
                    <div class="component container">
                        <div class="component-content">
                               
                                <div class="component row justify-content-between d-flex secondary-footer">

                                    <div class="component ow-link-list  order-1 order-md-0">
                                        <div class="component-content">

                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link"><a href="/">© 2022 - Creaform. All rights reserved.</a></div>
                                                </li>
                                                
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="component ow-link-list text-md-right order-0 order-md-1">
                                        <div class="component-content">
                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link"><a href="/">Cookie preferences</a></div>
                                                </li>
                                                <li class="item1 even"> 
                                                    <div class="field-link"><a href="/sitemap">Accessibility</a></div>
                                                </li>
                                                <li class="item2 odd last">
                                                    <div class="field-link"><a href="/">Privacy Statement</a></div>
                                                </li>
                                                <li class="item2 odd last">
                                                    <div class="field-link"><a href="/">Terms & Conditions</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- secondary footer -->
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</footer>