<header>
    <div id="header">
        <div class="container-fluid engineering-header">
            <div class="component-content">
                <div class="row ow-secondary-header">
                    {% include "../../components/secondary-top-navigation.html" %}
                    
                </div>
                <div class="row ow-primary-header">
                    <div class="container">
                        <div class="component-content">
                            <div class="row primary-nav-wrapper">
                                <div class="col-6 col-lg-9 d-flex align-items-center">
                                    <div class="component rich-text hamburger-wrapper d-block d-lg-none">
                                        <div class="component-content">
                                            <div class="hamburger-mobile"> 
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                                <span></span>
                                            </div>        
                                        </div>
                                    </div>
                                    <div class="component image file-type-icon-media-link mobile-logo">
                                        <div class="component-content">
                                            <a title="Default Logo" href="/">
                                                <img src="images/mobile-logo.svg" alt="logo"></a>
                                        </div>
                                    </div>
                                    <div class="component image file-type-icon-media-link mobile-logo-white">
                                        <div class="component-content">
                                            <a title="Default Logo" href="/">
                                                <img src="images/mobile-logo-white.svg" alt="logo"></a>
                                        </div>
                                    </div>
                                    <div class="navigation-wrapper">
                                        {% include "../../components/engineering-navigation.html" %}
                                    </div>
                                </div>
                                
                                <div class="col-6 col-lg-3 d-flex justify-content-end align-items-center">
                                    <div class="field-link talk-cta">
                                        <a href="tel:+496170961709"> 
                                            <i class="icon-mobile-icon"> </i>
                                            <span class="d-none d-lg-block">+1 877 959-3098</span> 
                                            <span class="d-lg-none">Lets Talk</span>  
                                        </a>
                                    </div>

                                </div>
                                




                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>