<header>
    <div id="header">
        <div class="container-fluid ">
            <div class="component-content">
                <div class="row ow-secondary-header">
                    {% include "../../components/secondary-top-navigation.html" %}

                </div>
                
            </div>
        </div>
        <div class="container-fluid light-theme-overlay ">
            <div class="row">
                <div class="container-fluid">
                    <div class="row ow-primary-header">
                        <div class="container">
                            <div class="component-content">
                                <div class="row primary-nav-wrapper">
                                    <div class="col-6 col-lg-9 d-flex align-items-center">
                                        <div class="component rich-text hamburger-wrapper d-block d-lg-none">
                                            <div class="component-content">
                                                <div class="hamburger-mobile">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="component image file-type-icon-media-link mobile-logo">
                                            <div class="component-content">
                                                <a title="Default Logo" href="/">
                                                    <img src="images/mobile-logo.svg" alt="logo"></a>
                                            </div>
                                        </div>
                                        <div class="component image file-type-icon-media-link mobile-logo-white">
                                            <div class="component-content">
                                                <a title="Default Logo" href="/">
                                                    <img src="images/mobile-logo-white.svg" alt="logo"></a>
                                            </div>
                                        </div>
                                        <div class="navigation-wrapper">
                                            {% include "../../components/main-navigation.html" %}
                                        </div>
                                    </div>
        
                                    <div class="col-6 col-lg-3 d-flex justify-content-end align-items-center">
                                        <div class="component image file-type-icon-media-link global-search-header mr-3">
                                            <div class="component-content">
                                                <a title="Default Logo" href="/">
                                                    <img src="images/search-icon.svg" alt="logo"></a>
                                            </div>
                                        </div>
                                        <div class="field-link">
                                            <a href="/">Contact Us </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Breadcrumb -->
                <div class="component container-fluid small-padding">
                    <div class="component row">
                        <div class="component container">
                            <div class="breadcrumb">
                                {% include "../../components/component-breadcrumb.html" %}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="component container-fluid light-theme-overlay article-tabs">
                    <div class="component row">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-lg-9">
                                            {% include "../../components/component-article-tabs.html" %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>




            </div>
        </div>
        
    </div>

</header>
