<header>
    <div id="header">
        <!-- <div class="container-fluid brand-bg">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            {% include "../../components/component-header-bar.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
        <div class="container-fluid ">
            <div class="component-content">
                <div class="row ow-secondary-header">
                    {% include "../../components/secondary-top-navigation.html" %}

                </div>
                
            </div>
        </div>
        <div class="container-fluid dark-theme-overlay ">
            <div class="row">
                <div class="container-fluid">
                    <div class="row ow-primary-header">
                        <div class="container">
                            <div class="component-content">
                                <div class="row primary-nav-wrapper">
                                    <div class="col-6 col-lg-9 d-flex align-items-center">
                                        <div class="component rich-text hamburger-wrapper d-block d-lg-none">
                                            <div class="component-content">
                                                <div class="hamburger-mobile">
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                    <span></span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="component image file-type-icon-media-link mobile-logo">
                                            <div class="component-content">
                                                <a title="Default Logo" href="/">
                                                    <img src="images/mobile-logo.svg" alt="logo"></a>
                                            </div>
                                        </div>
                                        <div class="component image file-type-icon-media-link mobile-logo-white">
                                            <div class="component-content">
                                                <a title="Default Logo" href="/">
                                                    <img src="images/mobile-logo-white.svg" alt="logo"></a>
                                            </div>
                                        </div>
                                        <div class="navigation-wrapper">
                                            {% include "../../components/main-navigation.html" %}
                                        </div>
                                    </div>
        
                                    <div class="col-6 col-lg-3 d-flex justify-content-end align-items-center">
                                        <div class="component image file-type-icon-media-link global-search-header mr-3">
                                            <div class="component-content">
                                                <a title="Default Logo" href="/">
                                                    <img src="images/search-icon.svg" alt="logo"></a>
                                            </div>
                                        </div>
                                        <div class="field-link">
                                            <a href="/">Contact Us </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="container-fluid dark-theme Page-navigation ow-head-space">
                    <div class="component-content">
                        <div class="row">
                            <div class="container">
                                <div class="component-content">
                                    <div class="row">
                                        <div class="component column col-8 col-md-10 col-lg-11">
                                            <div class="component-content">
                                            {% include "../../components/component-page-navigation.html" %}
                                            </div>
                                        </div>
                                        <div class="component column col-4 col-md-2 col-lg-1">
                                            <div class="component-content">
                                                <div class="component link page-nav-btn">
                                                    <div class="component-content">
                                                
                                                <div class="field-link"><a href="#"  class="button btn-default orange-theme">Ask an Expert</a></div>    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                 <!-- Breadcrumb -->
                <div class="component container-fluid dark-theme small-padding">
                    <div class="component row">
                        <div class="component container">
                            <div class="breadcrumb">
                                {% include "../../components/component-breadcrumb.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
    </div>

</header>
<!-- 
<div class="container-fluid Page-navigation">
    <div class="component-content">
        <div class="row">
            <div class="container">
                <div class="component-content">
                    <div class="row">
                        <div class="col-12">
                            {% include "../../components/component-page-navigation.html" %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="component container-fluid Page-navigation">
    <div class="component-content">
       <div class="component row">
          <div class="component container col-12">
             <div class="component-content">
                <div class="component row">
                   <div class="component column col-12">
                      <div class="component-content">
                         <div class="component ow-navigation col-12">
                            <div class="component-content">
                               <div class="component row  navbar navbar-expand-lg">
                                  <div class="component column col-3 pl-0">
                                     SL33 Page Navigation
                                  </div>
                                  <div class="component column col-9 d-flex">
                                    
                                      
                                        <div class="component ow-link-list  dropdown-arrow-btn d-flex order-lg-2">
                                           <div class="component-content">
                                              <ul>
                                                 <li class="item0 odd first last">
                                                    <div class="field-link"><a href="/2-column-highlighted-grid" data-variantitemid="{32A221BB-28B3-48AB-BC43-5CB82BF9C387}" data-variantfieldname="Link">Ask an Expert</a></div>
                                                 </li>
                                              </ul>
                                           </div>
                                        </div>
                                        <div class="component ow-link-list collapse navbar-collapse" id="navbarNavDropdown">
                                          <div class="component-content">
                                             <ul>
                                                <li class="item0 odd first">
                                                   <div class="field-link"><a href="/2-column-highlighted-grid" data-variantitemid="{1CA7B0BA-2EE0-49F6-A620-725CB60DA799}" data-variantfieldname="Link">Overview</a></div>
                                                </li>
                                                <li class="item1 even last">
                                                   <div class="field-link"><a href="/2-column-highlighted-grid" data-variantitemid="{9EC881B5-1CD9-440C-BBF5-11377E88A2C9}" data-variantfieldname="Link">Compare</a></div>
                                                </li>
                                             </ul>
                                          </div>
                                       </div>
                                     </div>
                                  </div>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div> -->
