@charset "UTF-8";
body header {
  border: 0;
  background: transparent;
  position: relative;
  z-index: 9999;
  font-size: 14px; }
  @media screen and (min-width: 0) {
    body header {
      font-size: 14px; } }
  @media screen and (min-width: 768px) {
    body header {
      font-size: 14px; } }
  @media screen and (min-width: 992px) {
    body header {
      font-size: 14px; } }
  body header .row {
    align-items: unset; }
  body header .ow-secondary-header .row {
    align-items: center; }
  @media (max-width: 991px) {
    body header .sticky-header-spacing {
      padding-bottom: 50px; } }
  body header .link a:hover {
    color: inherit; }
  body header .language:after {
    color: rgba(26, 25, 24, 0.5); }
    @media only screen and (min-width: 992px) {
      body header .language:after {
        font-size: 14px;
        content: " â¯";
        position: absolute;
        right: 5px;
        top: 0;
        transform: rotate(90deg);
        z-index: -1;
        font-weight: 100;
        bottom: 0;
        margin: auto; } }
  body header .language select:focus-visible {
    outline: none; }
  body header .language.language-active:after {
    color: rgba(26, 25, 24, 0.5); }
  @media only screen and (min-width: 992px) {
    body header .language .select-box {
      margin-right: 15px; } }
  @media only screen and (min-width: 1200px) {
    body header .language .select-box {
      margin-right: 0; } }
  body header .language .select-box .selector-options {
    border-top: 0;
    border-radius: 4px; }
  @media only screen and (min-width: 992px) {
    body header .no-border-header > .container > .component-content {
      border-bottom: none !important; } }
  body header .primary-nav-wrapper .global-search-header .header-search {
    margin-top: -20px; }
    @media only screen and (min-width: 992px) {
      body header .primary-nav-wrapper .global-search-header .header-search {
        margin-top: -30px; } }
    body header .primary-nav-wrapper .global-search-header .header-search .global-header * {
      color: #1A1918 !important; }
    body header .primary-nav-wrapper .global-search-header .header-search .global-header .result-item h4 {
      color: rgba(26, 25, 24, 0.5) !important; }
  @media only screen and (min-width: 992px) {
    body header .global-search-header {
      margin-right: 30px !important; } }
  body header .global-search-header > .component-content > a {
    height: 100%;
    align-items: center;
    display: flex; }

body .ow-secondary-header {
  padding: 0;
  display: none; }
  @media only screen and (min-width: 992px) {
    body .ow-secondary-header {
      display: block; } }
  body .ow-secondary-header .main-logo > .component-content {
    display: flex; }
  body .ow-secondary-header .main-logo .image {
    margin-right: 10px; }
    body .ow-secondary-header .main-logo .image:not(.file-type-icon-media-link) img {
      margin-top: 2px; }
  body .ow-secondary-header .secondary-nav-top {
    display: flex;
    justify-content: flex-end;
    align-items: center; }
    body .ow-secondary-header .secondary-nav-top > .component-content {
      display: flex;
      justify-content: flex-end;
      align-items: center; }
    body .ow-secondary-header .secondary-nav-top .rich-text a {
      text-decoration: none;
      color: initial; }
    body .ow-secondary-header .secondary-nav-top .link,
    body .ow-secondary-header .secondary-nav-top .rich-text {
      margin-left: 15px;
      margin-right: 10px; }
      body .ow-secondary-header .secondary-nav-top .link a,
      body .ow-secondary-header .secondary-nav-top .rich-text a {
        padding: 15px 0;
        position: relative; }
        @media only screen and (min-width: 992px) {
          body .ow-secondary-header .secondary-nav-top .link a:after,
          body .ow-secondary-header .secondary-nav-top .rich-text a:after {
            content: '';
            position: absolute;
            height: 1px;
            width: 0;
            left: 50%;
            transition: .2s all ease-in;
            background-color: #2C2A29;
            bottom: -2px; } }
        @media only screen and (min-width: 992px) {
          body .ow-secondary-header .secondary-nav-top .link a:hover:after,
          body .ow-secondary-header .secondary-nav-top .rich-text a:hover:after {
            left: 0;
            width: 100%; } }
        @media only screen and (min-width: 992px) {
          body .ow-secondary-header .secondary-nav-top .link a.careers:after,
          body .ow-secondary-header .secondary-nav-top .rich-text a.careers:after {
            bottom: 0px; } }

@media (max-width: 991px) {
  body .ow-primary-header {
    z-index: 9; } }

body .ow-primary-header > .container {
  background-color: transparent;
  transition: .3s;
  border-radius: 0px; }
  @media only screen and (min-width: 992px) {
    body .ow-primary-header > .container > .component-content {
      border-top: 1px solid rgba(44, 42, 41, 0.15);
      border-bottom: 1px solid rgba(44, 42, 41, 0.15); } }

body .ow-primary-header .link {
  position: relative !important; }
  @media (max-width: 991px) {
    body .ow-primary-header .link {
      padding: 6px 10px;
      border-radius: 4px;
      background: #EDEDED; } }

body .primary-nav-wrapper {
  padding: 10px 0 10px;
  position: relative; }
  @media only screen and (min-width: 992px) {
    body .primary-nav-wrapper {
      padding: 0 15px; }
      body .primary-nav-wrapper > div {
        padding: 0; }
      body .primary-nav-wrapper .field-link a {
        font-family: "FranklinGothicLTPro-Md" !important; } }
  body .primary-nav-wrapper .d-flex > .component-content {
    display: flex;
    align-items: center; }
  body .primary-nav-wrapper .mobile-logo,
  body .primary-nav-wrapper .mobile-logo-white {
    margin-left: 15px;
    margin-right: 25px; }
    @media only screen and (min-width: 992px) {
      body .primary-nav-wrapper .mobile-logo,
      body .primary-nav-wrapper .mobile-logo-white {
        margin-left: 0; } }
  body .primary-nav-wrapper .mobile-logo-white {
    display: none; }
  body .primary-nav-wrapper .mobile-logo {
    display: block; }
    @media only screen and (min-width: 992px) {
      body .primary-nav-wrapper .mobile-logo {
        display: none; } }

@media only screen and (min-width: 992px) {
  body .sticky-header .primary-nav-wrapper .mobile-logo {
    display: none; } }

@media only screen and (min-width: 992px) {
  body .sticky-header .primary-nav-wrapper .mobile-logo-white {
    display: block; } }

body .mobile-logo {
  display: block; }

@media only screen and (min-width: 992px) {
  body .mobile-logo-white {
    display: none; } }

@media only screen and (min-width: 992px) {
  body .menu-active .global-search-header img,
  body .sticky-header .global-search-header img {
    filter: invert(1); } }

@media only screen and (min-width: 992px) {
  body .menu-active .field-link a,
  body .sticky-header .field-link a {
    color: #fff; } }

@media only screen and (min-width: 992px) {
  body .menu-active .main-navigation .nav-item.has-dropdown.active .nav-link,
  body .sticky-header .main-navigation .nav-item.has-dropdown.active .nav-link {
    opacity: 1; } }

body .dark-theme .ow-primary-header.menu-active .navigation-wrapper .main-navigation .nav-item.has-dropdown.active .nav-link:after, body .dark-theme-page .ow-primary-header.menu-active .navigation-wrapper .main-navigation .nav-item.has-dropdown.active .nav-link:after, body.dark-theme-page .ow-primary-header.menu-active .navigation-wrapper .main-navigation .nav-item.has-dropdown.active .nav-link:after {
  border-right: 1px solid #fff !important;
  border-bottom: 1px solid #fff !important; }

body .dark-theme .ow-primary-header.menu-active .navigation-wrapper .main-navigation .nav-item .nav-link:after, body .dark-theme-page .ow-primary-header.menu-active .navigation-wrapper .main-navigation .nav-item .nav-link:after, body.dark-theme-page .ow-primary-header.menu-active .navigation-wrapper .main-navigation .nav-item .nav-link:after {
  border-right: 1px solid #707070 !important;
  border-bottom: 1px solid #707070 !important; }

body .dark-theme .ow-primary-header .navigation-wrapper .main-navigation a, body .dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation a, body.dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation a {
  color: #F7F7F7; }

body .dark-theme .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link, body .dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link, body.dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link {
  opacity: 1; }
  body .dark-theme .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link::before, body .dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link::before, body.dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link::before {
    background-color: #fff; }
  body .dark-theme .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link:after, body .dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link:after, body.dark-theme-page .ow-primary-header .navigation-wrapper .main-navigation .nav-item .nav-link:after {
    border-right: 1px solid #707070 !important;
    border-bottom: 1px solid #707070 !important; }

body .dark-theme .ow-primary-header .link a, body .dark-theme-page .ow-primary-header .link a, body.dark-theme-page .ow-primary-header .link a {
  color: #F7F7F7; }

@media (max-width: 991px) {
  body .dark-theme .ow-primary-header .link, body .dark-theme-page .ow-primary-header .link, body.dark-theme-page .ow-primary-header .link {
    background: #262626; } }

body .dark-theme .ow-secondary-header .link a:after, body .dark-theme-page .ow-secondary-header .link a:after, body.dark-theme-page .ow-secondary-header .link a:after {
  background-color: #fff;
  bottom: 0px; }

body .dark-theme .ow-secondary-header .rich-text a:after, body .dark-theme-page .ow-secondary-header .rich-text a:after, body.dark-theme-page .ow-secondary-header .rich-text a:after {
  background-color: #fff;
  bottom: 0px; }

body .dark-theme .language:after, body .dark-theme-page .language:after, body.dark-theme-page .language:after {
  color: #fff; }

body .dark-theme .link-career, body .dark-theme-page .link-career, body.dark-theme-page .link-career {
  background: rgba(255, 255, 255, 0.2); }

body .dark-theme .global-search-header img, body .dark-theme-page .global-search-header img, body.dark-theme-page .global-search-header img {
  filter: invert(1); }

@media only screen and (min-width: 992px) {
  body .dark-theme .ow-primary-header > .container > .component-content, body .dark-theme-page .ow-primary-header > .container > .component-content, body.dark-theme-page .ow-primary-header > .container > .component-content {
    border-top: 1px solid #707070; } }

body .dark-theme .ow-primary-header.sticky-header .mobile-logo, body .dark-theme-page .ow-primary-header.sticky-header .mobile-logo, body.dark-theme-page .ow-primary-header.sticky-header .mobile-logo {
  display: none !important; }

body .dark-theme .ow-primary-header.sticky-header .mobile-logo-white, body .dark-theme-page .ow-primary-header.sticky-header .mobile-logo-white, body.dark-theme-page .ow-primary-header.sticky-header .mobile-logo-white {
  display: block !important; }
  @media only screen and (min-width: 992px) {
    body .dark-theme .ow-primary-header.sticky-header .mobile-logo-white, body .dark-theme-page .ow-primary-header.sticky-header .mobile-logo-white, body.dark-theme-page .ow-primary-header.sticky-header .mobile-logo-white {
      margin-left: 0; } }

body .dark-theme .ow-primary-header .mobile-logo, body .dark-theme-page .ow-primary-header .mobile-logo, body.dark-theme-page .ow-primary-header .mobile-logo {
  display: none !important; }

body .dark-theme .ow-primary-header .mobile-logo-white, body .dark-theme-page .ow-primary-header .mobile-logo-white, body.dark-theme-page .ow-primary-header .mobile-logo-white {
  display: none; }
  @media (max-width: 991px) {
    body .dark-theme .ow-primary-header .mobile-logo-white, body .dark-theme-page .ow-primary-header .mobile-logo-white, body.dark-theme-page .ow-primary-header .mobile-logo-white {
      display: block; } }
  @media only screen and (min-width: 992px) {
    body .dark-theme .ow-primary-header .mobile-logo-white, body .dark-theme-page .ow-primary-header .mobile-logo-white, body.dark-theme-page .ow-primary-header .mobile-logo-white {
      margin-left: 0; } }

@media (max-width: 991px) {
  body .blue-theme .ow-primary-header .link {
    background: #262626; } }

@media (max-width: 991px) {
  body .blue-theme .ow-primary-header.sticky-header {
    background-color: #1A1918; }
    body .blue-theme .ow-primary-header.sticky-header .global-search-header img {
      filter: invert(1) !important; } }

body.open-navigation header {
  position: fixed; }

body.open-navigation .Page-navigation {
  z-index: 0; }
