.resource-header .text-wrapper .paragraph-wrapper {
  margin-top: 10px;
  margin-bottom: 0px; }

.resource-header .ow-header-content {
  padding-bottom: 20px;
  padding-top: 25px; }

.resource-header .text-heading.column-heading * {
  font-size: 18px; }
  @media screen and (min-width: 0) {
    .resource-header .text-heading.column-heading * {
      font-size: 18px; } }
  @media screen and (min-width: 768px) {
    .resource-header .text-heading.column-heading * {
      font-size: 18px; } }
  @media screen and (min-width: 992px) {
    .resource-header .text-heading.column-heading * {
      font-size: 21px; } }

.resource-header .resource-header-container {
  align-items: flex-start; }
  .resource-header .resource-header-container .resource-card-simple .card-image {
    aspect-ratio: 9/4; }
  .resource-header .resource-header-container .resource-card-simple .card-body {
    height: auto;
    padding-bottom: 25px; }
