.ow-accordion .items {
  margin: 0px;
  padding: 5px;
  list-style-type: none; }
  .ow-accordion .items .item {
    background-color: #fff;
    margin-bottom: 15px;
    box-shadow: 0px 3px 6px #00000029; }
    .ow-accordion .items .item .toggle-header {
      padding: 5px 15px;
      background: #fff;
      border-bottom: unset; }
      .ow-accordion .items .item .toggle-header:focus-visible {
        outline: 2px solid #D9171D; }
      .ow-accordion .items .item .toggle-header .field-heading {
        font-size: 18px;
        font-family: 'HelveticaNeue-Bold';
        padding: 5px 20px 5px 0px;
        cursor: pointer;
        position: relative;
        color: #000; }
        @media screen and (min-width: 0) {
          .ow-accordion .items .item .toggle-header .field-heading {
            font-size: 18px; } }
        @media screen and (min-width: 768px) {
          .ow-accordion .items .item .toggle-header .field-heading {
            font-size: 18px; } }
        @media screen and (min-width: 992px) {
          .ow-accordion .items .item .toggle-header .field-heading {
            font-size: 18px; } }
        .ow-accordion .items .item .toggle-header .field-heading a {
          color: inherit; }
        @media only screen and (min-width: 992px) {
          .ow-accordion .items .item .toggle-header .field-heading {
            font-size: 20px; } }
  @media only screen and (min-width: 992px) and (min-width: 0) {
    .ow-accordion .items .item .toggle-header .field-heading {
      font-size: 20px; } }
  @media only screen and (min-width: 992px) and (min-width: 768px) {
    .ow-accordion .items .item .toggle-header .field-heading {
      font-size: 20px; } }
  @media only screen and (min-width: 992px) and (min-width: 992px) {
    .ow-accordion .items .item .toggle-header .field-heading {
      font-size: 20px; } }
        .ow-accordion .items .item .toggle-header .field-heading::before {
          content: '' !important; }
        .ow-accordion .items .item .toggle-header .field-heading::after {
          content: "\276F";
          right: 15px;
          position: absolute;
          transform: rotate(90deg) translateY(-50%);
          top: 5px; }
    .ow-accordion .items .item.active {
      background: #F1F1F1;
      box-shadow: unset; }
      .ow-accordion .items .item.active .toggle-header {
        background: unset;
        box-shadow: unset;
        border-bottom: unset;
        border-bottom-color: unset;
        border-bottom-width: unset; }
        .ow-accordion .items .item.active .toggle-header .field-heading {
          background: unset;
          box-shadow: unset;
          border-bottom: 1px solid #BEBEBE; }
          .ow-accordion .items .item.active .toggle-header .field-heading::after {
            right: -10px;
            transform: rotate(270deg) translateY(-50%);
            color: #D9171D; }
      .ow-accordion .items .item.active .toggle-content {
        padding-top: 0px; }
    .ow-accordion .items .item .toggle-content {
      padding: 22px; }
      .ow-accordion .items .item .toggle-content .description {
        font-size: 16px;
        font-family: 'HelveticaNeue-Light';
        line-height: 22px;
        margin-bottom: 15px; }
        @media screen and (min-width: 0) {
          .ow-accordion .items .item .toggle-content .description {
            font-size: 16px; } }
        @media screen and (min-width: 768px) {
          .ow-accordion .items .item .toggle-content .description {
            font-size: 16px; } }
        @media screen and (min-width: 992px) {
          .ow-accordion .items .item .toggle-content .description {
            font-size: 16px; } }
      .ow-accordion .items .item .toggle-content .accordion-btn-wrapper {
        margin-top: 10px; }
        .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .primary-link,
        .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .secondary-link {
          float: none;
          width: 100%; }
          .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .primary-link .btn-accordion,
          .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .secondary-link .btn-accordion {
            background: #2B2B2B;
            font-family: 'HelveticaNeue-Medium';
            color: #fff;
            padding: 10px 20px;
            text-transform: uppercase;
            border-radius: 0%;
            -webkit-border-radius: 0%;
            -moz-border-radius: 0%;
            transition: .3s all;
            margin-right: 15px;
            margin-bottom: 10px;
            float: none; }
            .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .primary-link .btn-accordion:hover,
            .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .secondary-link .btn-accordion:hover {
              background: #2B2B2B;
              color: #fff; }
          .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .primary-link:last-child,
          .ow-accordion .items .item .toggle-content .accordion-btn-wrapper .secondary-link:last-child {
            margin-bottom: unset; }
