.ow-locations .locations-wrapper {
  margin: 15px 0px;
  box-shadow: 0px 3px 6px #00000029; }
  .ow-locations .locations-wrapper .ow-card-content {
    display: flex;
    flex-wrap: wrap; }
    .ow-locations .locations-wrapper .ow-card-content h3 {
      font-size: 32px;
      font-family: 'HelveticaNeue-Bold';
      padding: 10px 0px;
      border-bottom: 2px solid #c7c7c7; }
      @media screen and (min-width: 0) {
        .ow-locations .locations-wrapper .ow-card-content h3 {
          font-size: 24px; } }
      @media screen and (min-width: 768px) {
        .ow-locations .locations-wrapper .ow-card-content h3 {
          font-size: 28px; } }
      @media screen and (min-width: 992px) {
        .ow-locations .locations-wrapper .ow-card-content h3 {
          font-size: 32px; } }
    .ow-locations .locations-wrapper .ow-card-content .locations {
      padding-top: 10px;
      padding-bottom: 50px; }
      .ow-locations .locations-wrapper .ow-card-content .locations .rte_content {
        display: inline-block; }
      @media (max-width: 767px) {
        .ow-locations .locations-wrapper .ow-card-content .locations {
          padding-bottom: 10px; } }
      .ow-locations .locations-wrapper .ow-card-content .locations .locations-detail {
        padding-bottom: 15px;
        border-bottom: 2px solid #c7c7c7; }
        .ow-locations .locations-wrapper .ow-card-content .locations .locations-detail h4 {
          font-family: 'HelveticaNeue-Bold';
          font-size: 16px; }
          @media screen and (min-width: 0) {
            .ow-locations .locations-wrapper .ow-card-content .locations .locations-detail h4 {
              font-size: 16px; } }
          @media screen and (min-width: 768px) {
            .ow-locations .locations-wrapper .ow-card-content .locations .locations-detail h4 {
              font-size: 16px; } }
          @media screen and (min-width: 992px) {
            .ow-locations .locations-wrapper .ow-card-content .locations .locations-detail h4 {
              font-size: 16px; } }
        .ow-locations .locations-wrapper .ow-card-content .locations .locations-detail p {
          font-family: 'HelveticaNeue-Light';
          margin-bottom: 0px; }
        .ow-locations .locations-wrapper .ow-card-content .locations .locations-detail a {
          color: inherit;
          display: inline-block; }
      .ow-locations .locations-wrapper .ow-card-content .locations .locations-info {
        padding: 15px 0px;
        display: grid;
        font-family: 'HelveticaNeue-Bold';
        font-size: 14px; }
        @media screen and (min-width: 0) {
          .ow-locations .locations-wrapper .ow-card-content .locations .locations-info {
            font-size: 14px; } }
        @media screen and (min-width: 768px) {
          .ow-locations .locations-wrapper .ow-card-content .locations .locations-info {
            font-size: 14px; } }
        @media screen and (min-width: 992px) {
          .ow-locations .locations-wrapper .ow-card-content .locations .locations-info {
            font-size: 14px; } }
        .ow-locations .locations-wrapper .ow-card-content .locations .locations-info a {
          color: #000 !important;
          width: max-content;
          display: flex;
          flex-wrap: wrap;
          align-items: baseline; }
        .ow-locations .locations-wrapper .ow-card-content .locations .locations-info a.web-link {
          color: #D9171D !important;
          border-bottom: 1px solid #D9171D; }
          .ow-locations .locations-wrapper .ow-card-content .locations .locations-info a.web-link .sr-only {
            color: #000; }
