.list-grid-view i {
  margin-left: 5px;
  font-size: 20px; }
  @media screen and (min-width: 0) {
    .list-grid-view i {
      font-size: 20px; } }
  @media screen and (min-width: 768px) {
    .list-grid-view i {
      font-size: 20px; } }
  @media screen and (min-width: 992px) {
    .list-grid-view i {
      font-size: 20px; } }

.list-grid-view span {
  margin-right: 10px; }
  .list-grid-view span:last-of-type, .list-grid-view span:first-child {
    margin-right: 0; }

.list-grid-view a {
  margin-right: 10px; }
  .list-grid-view a:last-of-type {
    margin-right: 0; }

.list-grid-view .card-view,
.list-grid-view .list-view {
  cursor: pointer; }
