@import 'base/base-index.scss';

.promo-card {
    display: flex;
    width: 100%;
    justify-content: start;
    border-radius: 8px;
    padding: 15px;
    flex-direction: column;
    min-height: unset;
    // background-color: $cta-gray;

    @include lg {
        display: flex;
        flex-direction: row;
        min-height: 420px;
        padding: 20px;
    }

    video {
        height: 100%;
    }

    .promo-card_content {
        width: 100%;
        z-index: 1;
        order: 2;

        @include lg {
            width: 50%;
            order: 0;
        }

        .text-wrapper {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 100%;
            padding: 32px 0px 00px 0px;
            color: $paragraph-text;

            * {
                font-family: $franklinMd !important;
            }
            .button {
                margin-bottom: 0px;
                font-family: $franklinBook !important;
            }
            @include lg {
                width: 75%;
                padding: 20px 0px 20px 20px;
            }

            .product-name {
                padding: 0px;

                h2 {
                    color: $brandblack;
                }
            }

            .paragraph-wrapper {
                @include font-size($slg-font);
                margin-top: 20px;
                color: $brandblack;
            }

            .text-wraper-footer {
                a {
                    width: fit-content;
                }
            }
        }
    }

    .promo-card_image {
        width: 100%;
        position: relative;
        margin-top: 20px;
        @include lg {
            width: 50%;
            margin-top: 0px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        video {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        .product-image {
            
            bottom: unset;
            margin: 0px auto;
            left: 0px;
            right: 0px;
            width: 100%;
            text-align: center;

            @include lg {
position: absolute;
                bottom: -15px;
                top: unset;
            }

            img {
                width: auto;
                height: unset;
            }
        }
    }

    &.overflow-top {
        background: transparent;
        padding: 15px 0px;
        // @include lg {
        //     background: $cta-gray;
        // }

        margin-top: unset;

        @include lg {
            margin-top: 90px;
        }

        .promo-card_image {
            min-height: 312px;
            overflow: hidden;
            @include lg{
                overflow: unset;
            }
            &.order-2{
                margin-top: 25px;
                @include lg{
                    margin-top: 0;
                }
            }
        }

        .promo-card_content {
            background: $cta-gray;
            border-radius: 8px;
            padding: 0px 15px;
            .text-wrapper{
                @media(max-width:991px){
                    padding-bottom: 30px;
                }
                
            }
        }

        &.dark-theme {
            background: transparent !important;

            @include lg {
                background: $brandblack !important;

            }

            .promo-card_content {
                background: $brandblack;

                @include lg {
                    background: transparent;

                }
            }

            .button.btn-default {
                background: $brand !important;
                color: $white !important;
                border: none;

                &:hover {
                    outline: 3px solid transparent;
                    background: $brand !important;
                    color: $white !important;
                    border: none;
                }

                &:focus {
                    outline: 3px solid $btn-light-border !important;
                    background: $brand !important;
                    color: $white !important;
                    border: none;
                }
            }
        }
    }

    &.no-overflow{
        justify-content: space-between;
        .promo-card_image {
            @include md{
                width: 40%;
            }
            .product-image{
                position: unset;
                bottom: 0;
                top: 0;
                @include border-radius(8px);

                @include lg{
                    position: absolute
                }

                img{
                    @include border-radius(8px);
                    height: 100%;
                }
            }
        }
    }

    &.overflow-bottom {
        padding-top: 15px;
        padding-bottom: 15px;
        margin-top: unset;

        @include lg {
            margin-bottom: 0px;
        }

        @include xl {
            margin-bottom: 30px;
        }

        .promo-card_image {
            min-height: 312px;

            .product-image{
                bottom: unset;
                top: 0;
                
                @include border-radius(8px);

                @include xl{
                    bottom: unset;
                    top: -15px;
                }
                @include lg{
                    text-align: right;
                }

                img{
                    @include border-radius(8px);
                }
            }

            &.order-2{
                margin-top: 25px;
                @include lg{
                    margin-top: 0;
                }
            }
        }

        .promo-card_content {
            // background: $cta-gray;
            border-radius: 8px;
        }

        &.dark-theme {
            background: transparent !important;

            @include lg {
                background: $brandblack !important;

            }

            .promo-card_content {
                // background: $brandblack;

                @include lg {
                    background: transparent;

                }
            }

            .button.btn-default {
                background: $brand !important;
                color: $white !important;
                border: none;

                &:hover {
                    outline: 3px solid transparent;
                    background: $brand !important;
                    color: $white !important;
                    border: none;
                }

                &:focus {
                    outline: 3px solid $btn-light-border !important;
                    background: $brand !important;
                    color: $white !important;
                    border: none;
                }
            }
        }

    }

    &.dark-theme {
            .product-name {
                h2 {
                    color: $white !important;
                }
            }

            h2 {
                color: $smoke-whitesade !important;
            }

            .paragraph-wrapper {
                color: $mid-light-gray !important;
            }

            .button.btn-default {
                background: $brand !important;
                color: $white !important;
                border: none;

                &:hover {
                    outline: 3px solid transparent;
                    background: $brand !important;
                    color: $white !important;
                    border: none;
                }

                &:focus {
                    outline: 3px solid $btn-light-border !important;
                    background: $brand !important;
                    color: $white !important;
                    border: none;
                }
            }
    }
}


// reverse column css
.reverse-column {
    .promo-card {
        flex-direction: column !important;

        @include lg {
            flex-direction: row-reverse !important;
        }
        .promo-card_content{
            .text-wrapper{
                padding: 40px 0px 20px 0px;
                @include lg{
                    padding: 20px 0px 20px 20px;
                }
            }
        }
    }

    .wide-image-promo-card {
        flex-direction: column !important;

        @include lg {
            flex-direction: row-reverse !important;
        }

        .wide-overflow-image-content {
            .text-wrapper {
                float: right;
            }
        }

        .wide-overflow-image {
            img {
                right: 0px !important;
                left: unset;
                float: right;
            }
        }
    }
}

.promo-card-no-media{
    .promo-card{
        min-height: auto !important;
        max-height: auto !important;
        height: auto !important;
        .promo-card_content{
            .text-wrapper{
                @include lg {
                    width: 100%;
                }
            }
        }
    }   
}

.light-theme-overlay{
    .ow-content-card{
        &.light-theme, .dark-theme{
            border-radius: 8px;
            .promo-card_content {
                background-color: $off-gray !important;
            }
        }
    }
}


.ow-video{
    &.dark-theme{
        background-color: $brandblack2 !important;
        .promo-card{
            background-color: $brandblack2 !important;
        }
    }
    &.light-theme{
        background-color: $off-gray !important;
        .promo-card{
            background-color: $off-gray !important;
        }
        
    }
}

.light-theme{
    &.overflow-top{
        &.promo-card{
            padding-top: 0px;
            background-color:transparent !important;
            @include lg{
                background-color: $off-gray !important;
                padding-top: 15px;
            }
            .promo-card_image{
                background-color:transparent !important;
                @include lg{
                    background-color: $off-gray !important;
                }
            }
           
            
            .promo-card_content{
                background-color: $off-gray !important;
            }
        }
    }
}

.margin-lg-bottom{
    &.simple-header{
        @include md{
            .promo-card_image{
                margin-bottom: 100px;
            }
        }
        @include lg{
            .promo-card_image{
                margin-bottom: 0px;
            }
        }
    }
}