@import 'base/base-index.scss';

.apply-button{
    width: min-content;
    color: $mediumblack;
    @include font-size($ssm-font);
    .button{
        padding: 12px 20px 12px 20px;
        padding-bottom: 8px;
        margin-bottom: 15px;
        @include font-size($md-font);
        &::before, &::after{
            content: none;
        }
        &:hover{
            padding: 12px 20px 12px 20px;
            padding-bottom: 8px;
        }
        i{
            font-family: 'icomoon' !important;
            display: block !important;
            margin-left: 10px;
        }
    }
}

.btn-apply{
    display: block;
    white-space: nowrap;
}

.blue-theme{
    .apply-button{
        color: $mid-light-gray;
    }
}