@import 'base/base-index.scss';

.page-description-text {
    &.description-small {
        * {
            font-family:$franklinMd !important;
            @include font-size($sssm-font);
            color: $paragraph-text;
        }

        &.bullet-point {
            p {
                list-style:  inside none;
                list-style-type: auto;
                display: list-item;
            }
        }

    }
}