<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:search="http://www.sitecore.net/xmlconfig/search/">
	<sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
		<contentSearch>
			<indexConfigurations>
				<OneWebBusinessSolrIndexConfiguration
				  type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<documentOptions
					  type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="ow_aggregatedcontent" returnType="textCollection" type="OneWeb.Foundation.Search.ComputedFields.ComputedAggregatedContent,OneWeb.Foundation.Search">
								<mediaIndexing ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/mediaIndexing"/>
							</field>
							<field fieldName="ow_alphabet" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedAlphabet,OneWeb.Foundation.Search</field>
							<field fieldName="ow_brands" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedBrands,OneWeb.Foundation.Search</field>
							<field fieldName="ow_business" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedBusiness,OneWeb.Foundation.Search</field>
							<field fieldName="ow_category" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedCategory,OneWeb.Foundation.Search</field>
							<field fieldName="ow_content" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedContent,OneWeb.Foundation.Search</field>
							<field fieldName="ow_cover_image" returnType="mediaModel">OneWeb.Foundation.Search.ComputedFields.ComputedCoverImage,OneWeb.Foundation.Search</field>
							<field fieldName="ow_coverimageclass" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedCoverImageClass,OneWeb.Foundation.Search</field>
							<field fieldName="ow_icon" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedIcon,OneWeb.Foundation.Search</field>
							<field fieldName="ow_image" returnType="mediaModel">OneWeb.Foundation.Search.ComputedFields.ComputedImage,OneWeb.Foundation.Search</field>
							<field fieldName="ow_industries" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedIndustries,OneWeb.Foundation.Search</field>
							<field fieldName="ow_main_industries" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedMainIndustries,OneWeb.Foundation.Search</field>
							<field fieldName="ow_producttypes" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedProductTypes,OneWeb.Foundation.Search</field>
							<field fieldName="ow_taglist" returnType="guidCollection">OneWeb.Foundation.Search.ComputedFields.ComputedTagList,OneWeb.Foundation.Search</field>
							<field fieldName="ow_taxonomy" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedTaxonomy,OneWeb.Foundation.Search</field>
							<field fieldName="ow_template" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedTemplate,OneWeb.Foundation.Search</field>
							<field fieldName="ow_timeline" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedTimeline,OneWeb.Foundation.Search</field>
							<field fieldName="ow_title" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedTitle,OneWeb.Foundation.Search</field>
							<field fieldName="ow_advanced_tags" returnType="advancedTags">OneWeb.Foundation.Search.ComputedFields.ComputedAdvancedTags,OneWeb.Foundation.Search</field>
						</fields>

					</documentOptions>
				</OneWebBusinessSolrIndexConfiguration>
				<OneWebSolrIndexConfiguration
				  type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
					<documentOptions
					  type="Sitecore.ContentSearch.SolrProvider.SolrDocumentBuilderOptions, Sitecore.ContentSearch.SolrProvider">
						<fields hint="raw:AddComputedIndexField">
							<field fieldName="ow_aggregatedcontent" returnType="textCollection" type="OneWeb.Foundation.Search.ComputedFields.ComputedAggregatedContent,OneWeb.Foundation.Search">
								<mediaIndexing ref="contentSearch/indexConfigurations/defaultSolrIndexConfiguration/mediaIndexing"/>
							</field>
							<field fieldName="ow_alphabet" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedAlphabet,OneWeb.Foundation.Search</field>
							<field fieldName="ow_brands" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedBrands,OneWeb.Foundation.Search</field>
							<field fieldName="ow_business" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedBusiness,OneWeb.Foundation.Search</field>
							<field fieldName="ow_category" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedCategory,OneWeb.Foundation.Search</field>
							<field fieldName="ow_content" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedContent,OneWeb.Foundation.Search</field>
							<field fieldName="ow_cover_image" returnType="mediaModel">OneWeb.Foundation.Search.ComputedFields.ComputedCoverImage,OneWeb.Foundation.Search</field>
							<field fieldName="ow_coverimageclass" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedCoverImageClass,OneWeb.Foundation.Search</field>
							<field fieldName="ow_icon" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedIcon,OneWeb.Foundation.Search</field>
							<field fieldName="ow_image" returnType="mediaModel">OneWeb.Foundation.Search.ComputedFields.ComputedImage,OneWeb.Foundation.Search</field>
							<field fieldName="ow_industries" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedIndustries,OneWeb.Foundation.Search</field>
							<field fieldName="ow_main_industries" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedMainIndustries,OneWeb.Foundation.Search</field>
							<field fieldName="ow_producttypes" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedProductTypes,OneWeb.Foundation.Search</field>
							<field fieldName="ow_taglist" returnType="guidCollection">OneWeb.Foundation.Search.ComputedFields.ComputedTagList,OneWeb.Foundation.Search</field>
							<field fieldName="ow_taxonomy" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedTaxonomy,OneWeb.Foundation.Search</field>
							<field fieldName="ow_template" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedTemplate,OneWeb.Foundation.Search</field>
							<field fieldName="ow_timeline" returnType="string">OneWeb.Foundation.Search.ComputedFields.ComputedTimeline,OneWeb.Foundation.Search</field>
							<field fieldName="ow_title" returnType="text">OneWeb.Foundation.Search.ComputedFields.ComputedTitle,OneWeb.Foundation.Search</field>
							<field fieldName="ow_advanced_tags" returnType="advancedTags">OneWeb.Foundation.Search.ComputedFields.ComputedAdvancedTags,OneWeb.Foundation.Search</field>
             <field fieldName="gallery" returnType="stringCollection">OneWeb.Foundation.Search.ComputedFields.ComputedGalery,OneWeb.Foundation.Search</field>
						</fields>
					</documentOptions>
				</OneWebSolrIndexConfiguration>
			</indexConfigurations>
		</contentSearch>
	</sitecore>
</configuration>