<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <resolveSearchQueryTokens>
        <processor type="OneWeb.Foundation.Search.Pipelines.ResolveSearchQueryTokens.OneWebFieldBoost, OneWeb.Foundation.Search" resolve="true" />
        <processor type="OneWeb.Foundation.Search.Pipelines.ResolveSearchQueryTokens.OneWebFieldValueBoost, OneWeb.Foundation.Search" resolve="true" />
        <processor type="OneWeb.Foundation.Search.Pipelines.ResolveSearchQueryTokens.OneWebFieldEqualValueBoost, OneWeb.Foundation.Search" resolve="true" />
      </resolveSearchQueryTokens>
    </pipelines>
  </sitecore>
</configuration>