@import 'base/base-index.scss';

.block-image{
    padding: 0px 0 0px;
    @include lg{
        padding: 55px 0 45px;
    }
    h2{
        @include font-size($smxxl-font);
        margin-bottom: 15px;
        
    }
    p{
        @include font-size($md-font);
        margin-bottom: 20px;
    }
    img{
        width: 100%;
    }
}