
@import 'base/base-index.scss';

.product-business{
    margin-top: 20px;
    margin-bottom: 50px;
    &:last-child{
        margin-bottom: 0px;
    }
}
.business-support-query{
    color:$white;
    padding: 20px 15px;
    align-items: center;
    @include font-size($ssm-font);
    @include md{
        padding: 20px 40px;
        display: flex;
        justify-content: space-between;
    }
    a{
        color:$white;
    }
    ul{
        list-style-type: none;
        li{
            padding-bottom: 10px;
            &:last-child{
                padding-bottom: 0;
            }
            i{
                margin-right: 5px;
            }
        }
    }

    .business-support-dropdown{
        display: flex;
        align-items: center;
        @media (max-width:767px) {
            align-items: flex-start;
            flex-direction: column;
            margin-top: 15px;
            border-top:1px solid $border-gray-white;
            padding-top: 15px;
        }
        
        p{
            margin-bottom: 0;
            margin-right: 10px;
        }
        .dropdown{
            margin-top: 10px;
            position: relative;
            &::after{
                content: '';
                width: 0px;
                height: 0px;
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 8px solid $primary;
                position: absolute;
                z-index: 1;
                right: 10px;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 2px;
            }
            @include md{
                margin-top: 0;
            }
            select{
                height: 35px;
                padding-right: 30px;
                appearance: none;
                -webkit-appearance: none;
                padding-left: 10px;
                background: $white;
             }
        }
        
    }
    .business-support-contact{
        ul{
            display: none;
            &.active{
                display: block;
            }
        }
    }
}