@import "base/base-index.scss";
.ow-card-dowload {
  margin-bottom: 30px;
  display: flex;
  .component-content {
    display: flex;

    a {
      position: relative;
      text-decoration: unset;
      width: 100%;
      display: block;
      box-shadow: 0 3px 6px 0 rgba(197, 197, 197, 10%);
      background: $white;

      .card-thumbnail {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        object-fit: cover;

        img {
          border: none;
          max-width: 100%;
          height: 250px;
        }
      }

      .card-title-group {
        position: absolute;
        bottom: 0px;
        background: rgba($primary, $alpha: 0.8);
        z-index: 1;
        width: 100%;
        padding: 10px;
        align-items: center;
        display: flex;
        @include lg {
          padding: 15px;
        }

        .title {
          font-family: "Helvetica Neue";
          @include font-size($md-font);
          color: $white;
          margin-bottom: 0px;
          width: 65%;
          line-height: 23px;
          word-break: break-word;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
          overflow: hidden;

          @include lg {
            @include font-size($lg-font);
          }
        }
        .text-blue {
          color: $primary !important;
        }

        .dowload-file {
          width: 35%;
          text-align: right;
          img {
            width: auto;
          }
        }
      }

      .white-bg {
        background: rgba($white, $alpha: 0.9) !important;
      }

      .justfiy-img {
        align-items: unset;
        justify-content: unset;
        img {
          width: 100%;
        }
      }
    }

    .row-item {
      flex-direction: unset;
      display: block;
      width: 100%;
      height: unset;

      @include lg {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        display: flex;
        height: 250px;
      }

      .card-thumbnail {
        display: block;
        height: 250px;

        @include lg {
          width: 30%;
          display: flex;
          align-items: unset;
          justify-content: unset;
        }

        img {
          width: 100%;
          height: 250px;

          @include lg {
            width: auto;
          }
        }
      }

      .card-title-group {
        width: 100%;
        position: relative;
        display: flow-root;
        align-items: unset;
        padding: 30px 25px;

        @include lg {
          width: 70%;
          display: flow-root;
        }

        .description {
          color: $black;
          line-height: 22px;
          @include font-size($md-font);
          padding-top: 10px;
          display: -webkit-box;
          -webkit-line-clamp: 4;
          -webkit-box-orient: vertical;
          overflow: hidden;
          margin-bottom: 15px;
        }

        .btn {
          position: relative;
          left: unset;
          @include lg {
            bottom: 0px;
          }
        }
      }
    }
  }
}
