@import 'base/base-index.scss';
@import 'base/base-border';
@import 'base/base-fonts.scss';


h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'HelveticaNeue-Thin';
    line-height: 1.1;
}

strong,
b {
    font-family: 'HelveticaNeue-Bold' !important;
}

.component-content {
    width: 100%;
}

.container {
    @include sm {
        max-width: 100%;
    }

    @include md {
        max-width: 100%;
    }

    @include lg {
        max-width: 1280px;
    }

    >.component-content {
        >.row {
            margin-left: -15px;
            margin-right: -15px;
            justify-content: center;
        }
    }
}
a {
    display: inline-block;
    width: auto;
    color:$primary;
    &:hover {
        text-decoration: none;
    }
    &:focus-visible{
        @include xl{
            outline: 2px solid $primary;
            &.play-video{
                outline: 0;
                img{
                    outline: 2px solid $primary;
                }
            }
        }
        
    }
}

.rich-a-content{
    a{
        display:unset;
    }
}

input[type="checkbox"]{
    &:focus-visible{
        outline: 2px solid $primary;
    }
}

.list-item{
    ul,ol{
        padding-left: 30px;
        padding-right: 10px;
        li{
            margin-bottom: 10px;
            &:last-child{
                margin-bottom: 0;
            }
        }
    }
    ol{
        list-style-type: decimal;
    }
    ul{
        list-style-type: disc;
    }
}

img {
    max-width: 100%;
    height: auto;
}

input {
    height: 43px;
    padding: 0 15px;
    transition: .3s all;
    border:1px solid $border-gray-white;
}

.link {
    display: inline-block;

    a {
        color: $black;
        margin-right: 20px;

        &:hover {
            color: $primary;
            text-decoration: none;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }

}

html{
    height: auto;
}


body {
    line-height: 1.3;
    height: auto;
    @include font-size($md-font);
    color:$dark-gray;
    font-family: 'HelveticaNeue-Light';
    #wrapper{
        display: flex;
        flex-direction: column;
    }
    @include lg {
        #wrapper{
            min-height: 100vh;
            display: flex;
            flex-direction: column;
        }
    }
}



//backgroud 

.primary-background{
    background-color: $primary;
    color:$white;
}

.dark-gray-background {
    background: $black;
}

.mod-gray-background {
    background-color: $dark-mid-gray;
}

.light-gray-background {
    background-color: $dark-gray;
}

.white-gray-background {
    background-color: $white-gray;
}

hr {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid $white-gray;
}

.ow-md-font {
    p {
        @include font-size($lg-font);
    }


    h3 {
        @include font-size($xxl-font);
    }
}

.opacity-bg{
    background-color:$black;

    @include lg{
        background-color:rgba(0, 0, 0, 0.73);
    }
    
    
}

.ow-border-spacing {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 0;
    padding-right: 0;
    padding-top: 15px;
    margin-top: 25px;

    @include md {
        margin-left: 0;
        margin-right: 0;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 0px;
        padding-top: 0px;

    }
}

.border-seprator {
    position: relative;
    display: flex;
    width: 100%;

    &::before {
        content: '';
        height: 2px;
        background: $primary;
        left: 15px;
        position: absolute;
        width: calc(100% - 30px);
        
        @include lg {
            width: 2px;
            left: 0;
            height: 100%;
            top: 0px;
        }
        
    }
    @media (max-width: 991px) {
        .ow-card-content{
            padding-top: 15px;
        }
    }

}

.rte_content, .rich-text{
    a{
        &:hover{
            color: $primary;
        }
    }
}

.ow-primary-spacing {
    margin-top: 50px;
    margin-bottom: 50px;
}

.button-wrapper {
    position: relative;
    bottom: 0px;
    left: 0px;
    margin-bottom: 15px;

    @include md {
        position: absolute;
        bottom: 20px;
        left: 20px;
    }

    .btn-primary,
    .btn-secondary {
        display: inline-block;
        margin-bottom: 10px;
        margin-right: 30px;

        &:last-child {
            margin-bottom: 0px
        }

        @include md {
            display: block;
        }

    }
}

.discription-paragraph {
    margin-bottom: 16px;
    float: left;
    width: 100%;
}

main,
#mainContent,
#content{
    display: unset;
    
}
main{
    float: left;
    width: 100%;
}


#mainContent,
#content{
    > div{
        margin-bottom: 50px;
        @include lg{
            margin-bottom: 80px; 
        }
        &.white-gray-background{
            padding-top: 30px;
            padding-bottom: 30px;
            @include lg{
                padding-top: 40px;
                padding-bottom: 40px;
            }
        }
    }
}
.space-0{
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}

.dark-theme{
    h3{
        color:$white;
    }
}

.text-heading{ 
    margin-bottom: 35px;

    width: 100%;
    font-family: 'HelveticaNeue-light';
    h3{ 
        @include font-size($xxl-font); 
        margin-bottom: 0px;      
    }

    h2{    

        @include font-size($lg-font);
        margin-bottom: 0px;
        font-family: 'HelveticaNeue-Medium';
        div{
        @include font-size($lg-font);
        margin-bottom: 0px;
        font-family: 'HelveticaNeue-Medium';
        }
    }
    .discription-paragraph{
        float: none;
        margin-top: 10px;
    }
    p{
        margin-bottom: 0px;
        margin-top: 10px;
        @include font-size($md-font);
    }
}
.left-primary-heading-border{
    border-left: 1px solid $primary;
    padding-left: 10px;
}
.top-border{
    border: 1px ;
}
.medium-font{
    font-family: 'HelveticaNeue-Medium';
}
.thin-font{
    font-family: 'HelveticaNeue-thin';
}

.primary-highlightcolor{
    color: $primary;
}

.top-primary-heading-border{
    border-top: 2px solid $primary;
    padding-top: 35px;
}

.no-margin{
    margin: 0 !important;
}
.no-margin-bottom{
    margin-bottom: 0 !important;
}

.extra-margin{
    margin-bottom: 50px;
    @include lg{
        margin-bottom: 80px; 
    }
}

.filter-search{
    .clear-text{
        right: 69px;
        @include xl{
            right: 50px;
        }
    }
}

.clear-text{
    position: absolute;
    right: 10px;
    top: 22px;
    width: 20px;
    height: 20px;
    text-align: center;
    transform: translateY(-50%);
    background: $light-mid-gray;
    border-radius: 50%;
    display: none;
    z-index: 100;
    &::before,
    &::after{
        position: absolute;
        left: 10px;
        content: ' ';
        height: 10px;
        width: 1px;
        background-color: $mid-gray;
        top:5px;
    }
    &::before {
        transform: rotate(45deg);
      }
    &::after {
        transform: rotate(-45deg);
      }
      span{
          color:$black;
      }
}


.videowraper{
    width:auto;
    position:relative;
    width:100%;
    video{
        width: 100%;
    }
    .banner-img{
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        margin: auto;
        min-height: 100%;
    }
    .playpause {
        z-index: 2;
        background-repeat:no-repeat;
        width:50%;
        text-align: center;
        height:50%;
        position:absolute;
        left:0%;
        right:0%;
        top:0%;
        bottom:0%;
        margin:auto;
        background-size:contain;
        background-position: center;
        img{
            width: 150px !important;
            height: auto !important;

        }
        @include md{
            img{
                width: 200px !important;
                height: auto !important;
    
            }
        }
    }
}

.suggestion-label{
    background: $light-mid-gray;
    border-radius: 4px;
    @include font-size($ssm-font);
    text-transform: uppercase;
    padding: 3px 5px;
    margin-right: 10px;
    color:$black;
    i{
        margin-left: 5px;
        cursor: pointer;
        .fa-file-video-o,
        .fa-file-video,
        .fa-file-powerpoint-o,
        .fa-file-powerpoint,
        .fa-file-word-o,
        .fa-file-word,
        .fa-file-pdf-o,
        .fa-file-pdf{
            margin-left: 0px;
            margin-right: 5px;
        }
    }
    &:hover{
        color:$black;
    }
    &.attached{
        float: left;
        color: $white !important;
        background: $dark-gray;
       i{
           margin-left: 0;
           margin-right: 5px;
       } 
    }
}

.taxonomy{
    color:$white;
}

.date{
    @include font-size($ssm-font);
    color:$dark-mid-gray;
}
ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
}


.ow-bg-overlay {
    .tile-bg-image{
        &:after{
            background: linear-gradient( 180deg, transparent 11%, rgba(0,0,0, 1) 90%);
            content: '';
            z-index: 1;
            position: absolute;
            left: 0;
            top:0;
            width: 100%;
            height: 100%;
        }
        
        img{
            z-index: 0;
            position: relative;
        }
    }
}

body{
    input{
        border-radius: 0;
    }
}

.sr-only{
    color:$black;
}

.ow-image-full-height{
    
    &.image, *{
        height: 100%;
    }
    img{
        object-fit: cover;
        width:100%;
    }
    a{
        width:100%;
    }
}