

@import 'base/base-index.scss';
.skip-content{
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
&:focus,&:active{
    color: $white;
    background-color:$black;
    left: 100%;
    top: -77px;
    width: 100%;
    height: auto;
    overflow: auto;
    margin: 10px 35%;
    padding: 3px 5px;
    text-align: center;
    @include font-size($md-font);
    z-index: 99;
}
}


