@import 'base/base-index.scss';


.modal {
    @include lg {
        padding: 50px 15px !important;
    }

    .modal-dialog {
        max-width: 900px;
        width: 100%;
        padding: 50px 10px;
        margin: 0 auto;

        @media (max-width:991px) {
            padding: 70px 10px 30px;
            background: $modal-gray-bg;
            min-height: 100vh;
            display: flex;
            align-items: center;
        }

        @include lg {
            padding: 3px;
            min-height: 100%;
            align-items: center;
            display: flex;
        }

        .modal-content {
            border: 0;
            background-color: $white;

            @media (max-width:991px) {
                background: transparent;
                color: $white;
            }

            @include lg {
                display: flex;
                align-items: center;
            }

            img,
            iframe {
                width: 100%;
                margin-bottom: 15px;
            }

            .modal-wrapper {
                width: 100%;
            }

            .text-wrapper {
                padding: 20px 15px;

                h4 {
                    margin-bottom: 10px;
                    @include font-size($xxl-font);
                }

                p {
                    margin-bottom: 20px;
                    @include font-size($lg-font);
                }
            }
        }

        .close {
            right: 20px;
            position: fixed;
            border: 0;
            outline: 0;
            font-size: 45px;
            color: $white;
            background: $primary;
            opacity: 1;
            border-radius: 50%;
            line-height: 0;
            font-weight: 100;
            top: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            z-index: 99;

            @include lg {
                position: absolute;
                top: -23px;
                right: -23px;
                width: 45px;
                height: 45px;
                font-size: 45px;
            }

            span {
                position: absolute;

                @include lg {
                    margin-bottom: 14px;
                }
            }
        }
    }
}

.iframe-wrapper {
    height: 0;
    padding-bottom: 56.25%;
    position: relative;

    iframe, .video-comp {
        position: absolute;
        width: 100% !important;
        height: 100% !important;
        top: 0;
        left: 0;
        border: 0;
    }
    .iframe-overlay {
        position: absolute;
        z-index: 9;
        height: 100%;
        width: calc(100% + 1px);

        img {
            object-fit: cover;
            position: absolute;
            height: 100%;
            left: 0;
            width: 100%;
        }

        .play-video {
            img{
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                color: $white;
                font-size: 60px;
                cursor: pointer;
                width: 60px !important;
                height: auto ;
                margin-bottom: 0;
                object-fit: contain !important;
                &:focus-visible{
                    outline: 2px solid $primary;
                    border-radius: 50%;
                }
            }
        }
    }

    

    &.video-played {
        .iframe-overlay {
            display: none !important;
        }
    }
}