@import 'base/base-index.scss';

.filter-facet-wrapper {
    
    li{
        border-right: 1px solid $border-gray-white;
        padding-right: 12px;
        padding-left: 7px;
        margin-top: 20px;
        display: inline-flex;
        text-align: center;
        a {
            color: $dark-gray;
            line-height: 100%;
            text-transform: uppercase;
            border-bottom: 1px $border-gray-white solid;
            font-family: 'HelveticaNeue-Medium';
        }
        
        &:last-child {
            border-right: none;
        }
    }

    .disabled{
        a{
        pointer-events: none;
        opacity: .5;
    }
    }
    .active{
        a{
        color: $primary;
        border-bottom-color: $primary;
    }
    }
   
}