<div class="comparison-wrapper">

    <div class="comparison-wrapper__card-header-row">
       
        <div class="card-wrapper">
            <div class="comparison-header">
                MetraSCAN BLACK<sup>Tm</sup>
            </div>
        </div>

        <div class="card-wrapper">
            <div class="comparison-header">
                MetraSCAN 357<sup>Tm</sup>
            </div>
        </div>

        <div class="card-wrapper">
            <div class="comparison-header">
                MetraSCAN BLACK<sup>Tm</sup>|Elite
            </div>
        </div>


    </div>
    <div class="comparison-wrapper__card-row">
       
        <div class="card-wrapper">
            <div class="card comparison-table">
                <div class="card-header">
                    <div class="header">
                        <div class="card-image">
                            <img src="./images/Intersection.png" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="light-grey-content price">Price starting at</span>$3000.00
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card comparison-table">
                <div class="card-header">
                    <div class="header">
                        <div class="card-image">
                            <img src="./images/banner_center.png" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="light-grey-content price">Price starting at</span>$3000.00
                </div>
            </div>
        </div>
        <div class="card-wrapper">
            <div class="card comparison-table">
                <div class="card-header">
                    <div class="header">
                        <div class="card-image">
                            <img src="./images/Intersection.png" alt="Card image cap">
                        </div>
                    </div>
                </div>
                <div class="card-footer">
                    <span class="light-grey-content price">Price starting at</span>$3000.00
                </div>
            </div>
        </div>

    </div>

    <div class="comparison-wrapper__specifications">
        <div class="comparison-row">
            <div class="specifications-wrapper"> 
                    <div class="comparison-column">Accuracy<sup>1</sup><span class="spec">(0.0012 in)</span></div>
            </div>
            <div class="comparison-specifications-row">
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
            </div>

        </div>

        <div class="comparison-row">
            <div class="specifications-wrapper"> 
                    <div class="comparison-column">Accuracy<sup>1</sup><span class="spec">(0.0012 in)</span></div>
            </div>
            <div class="comparison-specifications-row">
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
            </div>

        </div>


        <div class="comparison-row">
            <div class="specifications-wrapper"> 
                    <div class="comparison-column">Accuracy<sup>1</sup><span class="spec">(0.0012 in)</span></div>
            </div>
            <div class="comparison-specifications-row">
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
            </div>

        </div>


        <div class="comparison-row">
            <div class="specifications-wrapper"> 
                    <div class="comparison-column">Accuracy<sup>1</sup><span class="spec">(0.0012 in)</span></div>
            </div>
            <div class="comparison-specifications-row">
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
            </div>

        </div>


        <div class="comparison-row">
            <div class="specifications-wrapper"> 
                    <div class="comparison-column">Accuracy<sup>1</sup><span class="spec">(0.0012 in)</span></div>
            </div>
            <div class="comparison-specifications-row">
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
            </div>

        </div>


        <div class="comparison-row">
            <div class="specifications-wrapper"> 
                    <div class="comparison-column">Accuracy<sup>1</sup><span class="spec">(0.0012 in)</span></div>
            </div>
            <div class="comparison-specifications-row">
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
            </div>

        </div>


        <div class="comparison-row">
            <div class="specifications-wrapper"> 
                    <div class="comparison-column">Accuracy<sup>1</sup><span class="spec">(0.0012 in)</span></div>
            </div>
            <div class="comparison-specifications-row">
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
                <div class="comparison-column">Up to 0.030 mm<span class="light-grey-content spec">(0.0012 in)</span>
                </div>
            </div>

        </div>
        
        

    </div>

</div>