<div class="main-banner">
  
  <div class="main-banner__media-wrapper">
    <img src="images/banner-image.png">
  </div>  
  <div class="component container">
    <div class="component-content">
	<div class="component row">
  <div class="main-banner__content-wrapper container content-bottom">
    <div class="banner-content ">
    
      <div class="banner-title">
          <h1>Designed for manufacturing and metrology professionals </h1>
      </div>
      
      
      
      <div class="paragraph-wrapper">
         Insensitive to shop floor vibrations, part movement, and environmental instability, the Metrascan 3D significantly increases the efficiency and versatility of measurement process.
    </div>
    

      <div class="banner-link">
          

 
          
           
            
                 
        
        <a href="/2-column-highlighted-grid" class="button btn-default " title="" target="">New MetraScan 3D<i class="icon-right-arrow"></i></a>
                


      </div>
  </div>
  </div>
  </div>
  </div>
  </div>
      
</div>