<div class="main-banner">
  
  <div class="main-banner__media-wrapper">
    <img src="images/banner-image.png">
  </div>  
  <div class="main-banner__content-wrapper container content-bottom">
    <div class="banner-content ">
      <div class="banner-title">
          <h1> Cutting edge portable 3D measurement and analysis technologies</h1>
      </div>
      <div class="banner-sub-title">
       <h2>Cutting edge portable 3D measurement and analysis technologies</h2>
      </div>
      <div class="paragraph-wrapper">
        <p> VXelements’s range of advanced modules
            let you leverage all the dimensional information 
            captured by HandySCAN 3D in a simplified, 
            feature-rich data processing environment.
        </p>
       
    </div>

      <div class="banner-link">
          <a href="#" class="video-play-btn video-modal" target="_blank">
            <div class="video-play-icon"></div>
            <div class="video-icon-text pl-3">Discover the new <br> MetraSCAN 3D</div>
          </a>
      </div>
  </div>
  </div>
      
</div>