<div class="main-banner">
  
  <div class="main-banner__media-wrapper">
    <video playsinline="playsinline" autoplay="autoplay" muted="muted" loop="loop">
      <source src="https://storage.googleapis.com/coverr-main/mp4/Mt_Baker.mp4" type="video/mp4">
    </video>
  </div>  
  <div class="main-banner__content-wrapper container">
    <div class="banner-content">
      <div class="banner-title">
          <h1> Cutting edge portable 3D measurement and analysis technologies</h1>
      </div>
      <div class="banner-sub-title">
       <h2>Cutting edge portable 3D measurement and analysis technologies</h2>
      </div>
      <div class="paragraph-wrapper">
        <p> VXelements’s range of advanced modules
            let you leverage all the dimensional information 
            captured by HandySCAN 3D in a simplified, 
            feature-rich data processing environment.
        </p>
       
    </div>

      <div class="banner-link">
          <a href="#" rel="" class="button btn-default" target="_blank">
            Explore our Products
          </a>
      </div>
  </div>
  </div>
      
</div>