
  <div class="overflow-scroll">
    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>
    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>

    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>


    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>


    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>


    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>



    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>


    <div class="overflow-scroll__icon">
      <div class="overflow-scroll-image"><img src="images/icons.png"></div>
      <div class="overflow-scroll-text">ISO 17025</div>

    </div>
  </div>