<div class="banner-image-text-center text-center">
    <div class="banner-content">
        <div class="banner-title">
            <h2>MetraSCAN 3D</h2>
        </div>
        <div class="banner-sub-title">
            3D measurement software <br>platform and application suite
        </div>
        <div class="banner-link">
            <a href="#" rel="" class="button btn-default" target="_blank">
                test
            </a>
        </div>
    </div>
    <div class="banner-image">
        <img class="ow-lazyloaded" data-src="images/banner_center.png" data-mob-src="images/banner_center.png" alt="" title="" data-desktop-src="images/banner_center.png" src="images/banner_center.png">
    </div>
</div>