<div class="component ow-related-list">
    <div class="component-content">
        <div class="ow-card ow-related-post">
            <div class="ow-card-content">
                <h2>Most frequently consulted</h2>
                <ul>
                    <li>
                        Case Study
                        <span>Loram 5 Tablet is a combination medicine used to treat hypertension (high blood pressure).
                            It helps to control blood pressure when a single medication is not effective.
                        </span>
                    </li>

                    <li>
                        Case Study
                        <span>Loram 5 Tablet is a combination medicine used to treat hypertension (high blood pressure).
                            It helps to control blood pressure when a single medication is not effective.
                        </span>
                    </li>

                    <li>
                        Case Study
                        <span>Loram 5 Tablet is a combination medicine used to treat hypertension (high blood pressure).
                            It helps to control blood pressure when a single medication is not effective.
                        </span>
                    </li>

                    <li>
                        Case Study
                        <span>Loram 5 Tablet is a combination medicine used to treat hypertension (high blood pressure).
                            It helps to control blood pressure when a single medication is not effective.
                        </span>
                    </li>

                    <li>
                        Case Study
                        <span>Loram 5 Tablet is a combination medicine used to treat hypertension (high blood pressure).
                            It helps to control blood pressure when a single medication is not effective.
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>