
  <a class="card resource-card-simple">
    <div class="card-image">
      <img class="ow-lazy" alt="" data-src="./images/simple-card.png">
      
    </div>
    <div class="card-body">
      <div class="card-title">
        News
      </div>
      <div class="card-text">
        Title lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
      </div>
    </div>
    <div class="card-footer">
      <!-- <a class="button btn-simple">Read more</a> -->
      <div class="button btn-simple disbaled-hover">View more</div>
    </div>
  </a>
