<div class="card comparison-card__card-wrapper">
    <div class="card-header">
        <div class="header">
            <div class="title-card">
                HandySCAN 3D Silver Series
            </div>
            <div class="circle-arrow">
                <i class="icon-right-arrow"></i>
            </div>
        </div>
        <div class="card-image">
            <img class="card-img-top" src="./images/Intersection.png" alt="Card image cap">
        </div>
    </div>
    <div class="card-body">
        <div class="card-deatils">
            Accuracy up to 0.030 mm
            <br>
            7 red laser crosses <br>
            (+1 extra line)
        </div> 
        <div class="price-wrapper-dots">
            <div class="price-text">Price</div>
            <ul>
                <li class="active"></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>

    </div>
    <div class="card-footer">
        <div  class="button btn-simple disbaled-hover">View more</div>
    </div>
</div>