<!-- <div class="card small-card  resource-card-simple">
    <div class="card-image">
        <img class="ow-lazy" alt="" data-src="images/carousal-image.jpg">
    </div>
    <div class="card-body">
        <div class="card-title">
            News uap
        </div>
        <div class="card-text">
            Molestie a iaculis at erat pellentesque adipiscing commodo elit.
            <div class="create-date">June 22, 2021</div>
        </div>
    </div>
    
</div> -->

<div class="card featured-card">
    <div class="card-body">
        <div class="card-title">
            HandySCAN 3D | Silver Series
        </div>
        <div class="card-subtitle">
            MolProfessional portable 3D scanners
        </div>
    </div>
    <div class="card-image">
        <img class="ow-lazy" alt="" data-src="images/carousal-image.jpg">
    </div>
</div>