<div class="media-wrapper">
    <div class="media-wrapper__media">
        <!-- <img class="ow-lazy" alt="" data-src="images/video-thumbnail.svg"> -->
        <video class="ow-lazy" controls="" playsinline="" muted="" autoplay>
            <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4">
        </video>
        <div class="play-control">
            <button class="play-button"></button>
        </div>
    </div>
    <div class="media-wrapper__caption">
        Scan in VXelements with mesh visualization
    </div>
</div>