<div class="card simple-list">
    <!-- <div class="card-icon">
        <i class="icon-checked"></i>
    </div> -->
    <div class="card-info">
        3D Scan of Motorcycle Windshields
    </div>
</div>
<div class="card simple-list">
    <!-- <div class="card-icon">
        <i class="icon-checked"></i>
    </div> -->
    <div class="card-info">
        At lofty heights: 3D Scan of a wind turbine Blade
    </div>
</div>
<div class="card simple-list">
    <!-- <div class="card-icon">
        <i class="icon-checked"></i>
    </div> -->
    <div class="card-info">
        The power of 3D scanning for corrosion and mechanical damage assesment
    </div>
</div>