<div class="job-header-wrapper">
    <div class="job-header-content order-2 order-xl-0">
        <div class="component text-wrapper">
            <div class="text-wraper-body">
                <div class="off-gray-text">
                    <h2>
                        Engineering
                    </h2>
                </div>
                <h2>Application Engineer - Robotic specialization</h2>
                <div class="job-info">
                    <div class="profile"><i class="icon-job"></i>Research and development</div>
                    <div class="hours"><i class="icon-clock"></i>Full time</div>
                    <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
                    <div class="calender"><i class="icon-calender"></i>Available Now</div>
                </div>
            </div>
            {% include "../components/component-apply-button.html" %}
        </div>
    </div>
    <div class="job-header-image">
        <div class="product-image"><img class="ow-lazy" data-src="./images/banner_center.png"
                data-mob-src="./images/product-image.png"></div>
    </div>
</div>