<a class="redirect-card-wrapper" href="javascript:void(0)">
    <div class="redirect-card-content">
        <div class="redirect-card-logo">
            <img class="ow-lazy" alt="" data-src="images/creaform-engineering.svg">
        </div>
        <div class="redirect-card-subtitle">
            <div class="redirect-card-text">
                Discover our Engineering Solutions
            </div>
            <div class="redirect-card-icon">
                <i class="icon-download"></i>
            </div>
        </div>
    </div>
</a>