<div class="quote-card-wrapper">
    <div class="quote-card-content">
        <div class="quote-card-head">
            <h2><img class="ow-lazy" alt="" data-src="images/quote-card-logo.svg"></h2>
        </div>
        <div class="quote-card-description">
            A diam maecenas sed enim. Scelerisque varius morbi enim nunc faucibus. Natoque penatibus et magnis dis
                parturient montes nascetur ridiculus.
        </div>
        <div class="quote-card-details">
            <div class="quote-card-logo">
            </div>
            <div class="quote-card-info">
                John Smith</br><span class="stone-gray">Engineer, Koenigsegg</span>
            </div>
        </div>
    </div>
    <div class="btn-container quote-card-border">
        <a href="#" rel="" class="button btn-simple" target="_blank">
            Read the whole story <i class="icon-right-arrow"></i>
        </a>
    </div>
</div>