<div class="text-wrapper">
    <div class="grid-container">
        <div class="grid-container__heading">
            <h2>
                title
            </h2>
            <h2 class="light-gray-text">
                Subtitle
            </h2>
        </div>
    
        <div class="grid-container__description">
            Tincidunt ornare massa eget egestas purus viverra. Hac habitasse platea dictumst vestibulum rhoncus est. Est ante in nibh mauris cursus. Accumsan tortor posuere ac ut consequat semper viverra nam libero.
        </div>
    </div>
    
    


    <div class="component-grid-wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-lg-3">
                    component comes here...
                </div>
            </div>
        </div>
       
    </div>


    <a href="#" rel="" class="button btn-default" >
        Read more
    </a>
    <a href="#" rel="" class="button btn-simple" >
        Read more
    </a>
</div>
