<div class="article-tabs-wrapper">
    <div class="component text-wrapper">
        <div class="text-wrapper-body">
            <h2 class="light-gray-text"> Blog </h2>
            <h1>At Lofty Heights: 3D Scan of a Wind Turbine Blade</h2>
            <div class="paragraph-wrapper">
                <p>Creaform Application Engineer trained two industrial climbers from the company Asaken and taught them how to use the HandySCAN 3D</p>
            </div>
        </div>
        <div class="image-wrapper-article">
            <img class="ow-lazy" data-src="./images/article-image.jpg" alt="">
        </div>
    </div>
</div>