<div class="comparison-card">
    <div class="comparison-card__image-title">
        <label class="title"> MetraSCAN 357 </label>
        <div class="image-wrap w-100">
            <img class="ow-lazy" data-src="images/product-card-small.png" alt="">
        </div>
    </div>
    <div class="comparison-card__details card-row-size">
        <div class="list-item-detail card-row-0">
            <label>Accuaracy</label>
            <div class="list-item">Up to 0.040 mm <span>(0.0016 in) </span></div>
        </div>
        <div class="list-item-detail card-row-1">
            <label>Volumetric accuracy</label>
            <div class="list-item">0.086 mm <span>(0.0034 in)</span></div>
        </div>
        <div class="list-item-detail card-row-2">
            <label>Measurement resolution</label>
            <div class="list-item">0.100 mm <span>(0.0039 in)</span></div>
        </div>
        <div class="list-item-detail card-row-3">
            <label>Measurement rate</label>
            <div class="list-item">480,000 meas./seconds</div>
        </div>
    </div>
</div>





<div class="comparison-card">
    <div class="comparison-card__image-title">
        <label class="title"> MetraSCAN 357 </label>
        <div class="image-wrap w-100">
            <img class="ow-lazy" data-src="images/product-card-small.png" alt="">
        </div>
    </div>
    <div class="comparison-card__details card-row-size">
        <div class="list-item-detail card-row-0">
            <label>Accuaracy</label>
            <div class="list-item">Up to 0.040 mm <span>(0.0016 in) </span></div>
        </div>
        <div class="list-item-detail card-row-1">
            <label>Volumetric accuracy</label>
            <div class="list-item">0.086 mm <span>(0.0034 in)</span></div>
        </div>
        <div class="list-item-detail card-row-2">
            <label>Measurement resolution</label>
            <div class="list-item">0.100 mm <span>(0.0039 in)</span></div>
        </div>
        <div class="list-item-detail card-row-3">
            <label>Measurement rate</label>
            <div class="list-item">480,000 meas./seconds</div>
        </div>
    </div>
</div>



<div class="comparison-card">
    <div class="comparison-card__image-title">
        <label class="title"> MetraSCAN 357 </label>
        <div class="image-wrap w-100">
            <img class="ow-lazy" data-src="images/product-card-small.png" alt="">
        </div>
    </div>
    <div class="comparison-card__details card-row-size">
        <div class="list-item-detail card-row-0">
            <label>Accuaracy</label>
            <div class="list-item">Up to 0.040 mm <span>(0.0016 in) dfds fd dsfsf </span></div>
        </div>
        <div class="list-item-detail card-row-1">
            <label>Volumetric accuracy</label>
            <div class="list-item">0.086 mm <span>(0.0034 in)dsfds fds </span></div>
        </div>
        <div class="list-item-detail card-row-2">
            <label>Measurement resolution</label>
            <div class="list-item">0.100 mm <span>(0.0039 in) fddsf fdsf dfdsf</span></div>
        </div>
        <div class="list-item-detail card-row-3">
            <label>Measurement rate</label>
            <div class="list-item">480,000 meas./seconds dsfd fd</div>
        </div>
    </div>
</div>