<div class="card-list-wrapper">
    <a href="javascript:void(0)" class="card">
        <div class="card-title">Electronic designer - R&D</div>
        <div class="card-info">
            <div class="profile"><i class="icon-job"></i>Research and development</div>
            <div class="hours"><i class="icon-clock"></i>Full time</div>
            <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="card">
        <div class="card-title">Electronic designer - R&D</div>
        <div class="card-info">
            <div class="profile"><i class="icon-job"></i>Research and development</div>
            <div class="hours"><i class="icon-clock"></i>Full time</div>
            <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="card">
        <div class="card-title">Electronic designer - R&D</div>
        <div class="card-info">
            <div class="profile"><i class="icon-job"></i>Research and development</div>
            <div class="hours"><i class="icon-clock"></i>Full time</div>
            <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
        </div>
    </a>
    <a href="javascript:void(0)" class="card">
        <div class="card-title">Electronic designer - R&D</div>
        <div class="card-info">
            <div class="profile"><i class="icon-job"></i>Research and development</div>
            <div class="hours"><i class="icon-clock"></i>Full time</div>
            <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
        </div>
    </a>
</div> 