<div class="search-container__search"> 
<div class="search-wrapper filter-search">
    <input type="text" id="search-page" class="search-wrapper__input search-box-input" autocomplete="off" />
    <a class="clear-text d-block" href="javascript:void(0)"><span class="sr-only">cross-icon</span></a>
</div>
{% include "./search-result-data.html" %}
<div class="filter-facets mt-2">
    <span class="search-for">Showing <strong><span class="search-current-count">10</span></strong> Of <strong><span class="search-total-count">146</span></strong>
    <span class="result-text">results for</span>
                    <span class="d-none result-text no-keyword">Results</span>            
            <strong><span class="search-value">ame</span></strong>
        </span>
    </div>
</div>