<div class="card">
    <div class="card-image">
        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885_480.jpg"
            alt="Card image cap">
    </div>
    <div class="card-body">
        <h5 class="card-title">Trade Show</h5>
        <div class="card-subtitle">FITMA Tradeshow</div>
        <div class="card-location"><i class="icon-location"></i>Ciudad de Mexico, Mexico</div>
    </div>
    <div class="card-footer">
        <div class="time-format">
            <div class="start-date">
                <div class="date">20</div>
                <div class="month-year">
                    <div class="month">jan</div>
                    <div class="year">2021</div>
                </div>
                <i class="icon-Date-Arrow"></i>
            </div>
            <div class="close-date">
                <div class="date">20</div>
                <div class="month-year">
                    <div class="month">jan</div>
                    <div class="year">2021</div>
                </div>
            </div>
        </div>
    </div>
</div>