<div class="component text-wrapper flex-height">
    <div class="text-wraper-body">
        <div class="product-name">
            <h2>VXelements<sup>TM</sup></h2>
        </div>
        <h2>
            Fully integrated and user-friendly  3D scanning software platform
        </h2>
    
        <div class="paragraph-wrapper">
            <p> VXelements’s range of advanced modules 
                let you leverage all the dimensional information 
                captured by HandySCAN 3D in a simplified, 
                feature-rich data processing environment.
            </p>
           
        </div>
    </div>
    <div class="text-wraper-footer">
        <a href="#" rel="" class="button btn-default" target="_blank">
         
           Learn more about our NDT softwares
        </a>
    </div>
</div>
