<div class="logo-list-wrapper">
    <div class="row align-items-center">
        <div class="col-6 col-md-3 my-3">
            <div class="logo-box">
                <img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg">
            </div>
        </div>
        <div class="col-6 col-md-3 my-3">
            <div class="logo-box">
                <img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg">
            </div>
        </div>
        <div class="col-6 col-md-3 my-3">
            <div class="logo-box">
                <img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg">
            </div>
        </div>
        <div class="col-6 col-md-3 my-3">
            <div class="logo-box">
                <img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg">
            </div>
        </div>
        <div class="col-6 col-md-3 my-3">
            <div class="logo-box">
                <img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg">
            </div>
        </div>
        <div class="col-6 col-md-3 my-3">
            <div class="logo-box">
                <img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg">
            </div>
        </div>
    </div>
</div>