<a href="#" class="nav-card">
    <div class="card ">
      <div class="card-body">
        <div class="card-title">
          HandySCAN 3D
          Black Series<span>NEW</span>
        </div>
        <div class="card-text">
          color: $smoke-whitesade;
        </div>
    </div>
      <div class="card-image">
        <div class="card-image-holder"><img class="ow-lazyloaded" alt="" data-src="./images/Intersection.png" src="./images/Intersection.png">
        </div>
      </div>
      <div class="card-arrow">
        <i class="icon-right-arrow"></i>
      </div>
    </div>
  </a>