<div class="slider-widget equal-card-height" data-slides-to-show="3" data-slides-to-show-tab="2.2" data-slides-to-show-mob="2.2"
    data-arrow="true" data-dots="true" data-autoplaySpeed="30000" data-autoplay="false" data-infinite="false">
    
    {% include "./comparison-card.html" %}

</div>


<!-- <div class="slider-wrapper mt-5 equal-card-height" data-slides-to-show="3" data-slides-to-show-tab="2.1" data-slides-to-show-mob="2.1"
    data-arrow="true" data-dots="true" data-autoplaySpeed="30000" data-autoplay="false" data-infinite="false">
    
    {% include "./comparison-card2.html" %}

</div> -->