<div class="card software-comparison">
    <div class="card-body">
        <a class="card-title">
            VXinspect™
        </a>
        <div class="card-subtitle">
            Dimensional inspection software module
        </div>
    </div>
    <div class="card-footer">
        <ul>
            <li>
                <div class="image">
                    <img class="ow-lazy" alt="" data-src="images/mobile-logo.svg">
                </div>
                <div class="info">Product development</div>
            </li>
            <li>
                <div class="image">
                    <img class="ow-lazy" alt="" data-src="images/mobile-logo.svg">
                </div>
                <div class="info">Reverse engineering</div>
            </li>
            <li>
                <div class="image">
                    <img class="ow-lazy" alt="" data-src="images/mobile-logo.svg">
                </div>
                <div class="info">Additive manufacturing</div>
            </li>
        </ul>
    </div>
</div>