<nav>
    <ol>
        <li class="breadcrumb-item home">
            <div class="navigation-title field-navigationtitle">
                <a title="Home" href="/">
                    <i class="icon-breadcrumb-home"></i>
                </a>
            </div>
            <span class="separator"></span>
        </li>
        <li class="breadcrumb-item">
            <div class="navigation-title field-navigationtitle">
                <a title="" href="/">Products</a>
            </div>
            <span class="separator"></span>
        </li>
        <li class="breadcrumb-item last">
            <div class="navigation-title field-navigationtitle">
                <a title="" href="">Softwares</a>
            </div>
            <span class="separator"></span>
        </li>
    </ol>
</nav>