<div class="slider-wrapper " data-slides-to-show="1" data-slides-to-show-tab="1" data-slides-to-show-mob="1"
    data-arrow="true" data-dots="true" data-autoplaySpeed="30000" data-autoplay="false" data-infinite="false">
    <div class="slider-image-items">
        <a href="#">
            <div class="component-image">
                <img src="https://images.pexels.com/photos/239419/pexels-photo-239419.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt='img' />
            </div>
        </a>
    </div>
    <div class="slider-image-items">
        <a href="#">
            <div class="component-image">
                <img src="https://images.pexels.com/photos/239419/pexels-photo-239419.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt='img' />
            </div>
        </a>
    </div>
    <div class="slider-image-items">
        <a href="#">
            <div class="component-image">
                <img src="https://images.pexels.com/photos/239419/pexels-photo-239419.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500"
                    alt='img' />
            </div>
        </a>
    </div>
</div>