<div class="filters-card filter-category" data-list="8">
    <div class="filters-card__items">
        <ul>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D Documentation <span>2</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D Hardware <span>40</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D Models <span>6</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D Printing <span>33</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D Scanner <span>30</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
            <li>
                <a href="javascript:void(0)"> 3D CAD <span>5</span> </a>
            </li>
        </ul>
        <a href="javascript:void(0)" class="show-filter">View All</a>
    </div>
</div>