<div class="filters-card filter-facet-wrapper" data-list="4">
    <div class="filters-card__title filter-facet-head">
        Content type
        <a href="javascript:void(0)" class="toggle-filter">
            <span></span>
            <span></span>
        </a>
    </div>
    <div class="filters-card__items filter-facet-items">
        <ul>
            <li class="filter-item">
                <input type="checkbox" id="Blog"/> <label for="Blog"> Blog </label>
            </li>
            <li class="filter-item">
                <input type="checkbox" id="Brochures"/>  <label for="Brochures"> Brochures </label>
            </li>
            <li class="filter-item">
                <input type="checkbox" id="Case studies"/>  <label for="Case studies"> Case studies </label>
            </li>
            <li class="filter-item">
                <input type="checkbox" id="Video"/>  <label for="Video"> Video </label>
            </li>
            <li class="filter-item">
                <input type="checkbox" id="Webinars"/>  <label for="Webinars"> Webinars </label>
            </li>
            <li class="filter-item">
                <input type="checkbox" id="id6"/>  <label for="id6"> Items 1 </label>
            </li>
            <li class="filter-item">
                <input type="checkbox" id="id7"/>  <label for="id7"> Items 1 </label>
            </li>
            <li class="filter-item">
                <input type="checkbox" id="id8"/>  <label for="id8"> Items 1 </label>
            </li>
        </ul>
        <a href="javascript:void(0)" class="show-filter">Show more</a>
        <a href="javascript:void(0)" class="less-filter">Show less</a>
    </div>
</div>