<nav class=" navbar navbar-expand-lg main-navigation ">
    <div class="collapse navbar-collapse justify-content-end" id="main_nav">
        <ul class="navbar-nav">
            <li class="nav-item dropdown has-dropdown">
                <a class="nav-link" href="https://www.google.com/">Products </a>
            </li>
            <li class="nav-item dropdown has-dropdown">
                <a class="nav-link dropdown-toggle" href="https://www.google.com/" data-toggle="dropdown"> Solutions
                </a>
                <div class="dropdown-menu full-width container-fluid">
                    <div class="component-content">
                        <div class="container">
                            <div class="multipal-col row">
                                <div class="col-lg-4 sub-item dark-theme nav-card-wrapper">
                                    <div class="component">
                                        <div class="component-content">
                                            <h4><a href="#">Metrology</a></h4>
                                            {% include "./component-navigation-card.html" %}
                                            {% include "./component-navigation-card.html" %}
                                            
                                            <h4><a href="#">Metrology</a></h4>
                                            {% include "./component-navigation-card.html" %}
                                            
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 sub-item">
                                    <div class="component ow-link-list">
                                        <div class="component-content">
                                            <h4><a href="#">Metrology</a></h4>
                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link"><a href="#">Product development & design
                                                        </a></div>
                                                </li>
                                                <li class="item1 even">
                                                    <div class="field-link"><a href="#">Reverse engineering</a></div>
                                                </li>
                                                <li class="item2 odd">
                                                    <div class="field-link"><a href="#">Quality control & quality
                                                            assurance</a></div>
                                                </li>
                                                <li class="item3 even">
                                                    <div class="field-link"><a href="#">Maintenance, repair &
                                                            overhaul</a></div>
                                                </li>
                                                <li class="item4 odd">
                                                    <div class="field-link"><a href="#">Medical</a></div>
                                                </li>
                                                <li class="item5 even last">
                                                    <div class="field-link"><a href="#">Other applications</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-lg-4 sub-item">
                                    <div class="component ow-link-list">
                                        <div class="component-content">
                                            <h4><a href="#">Metrology</a></h4>
                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link"><a href="#">Product development & design
                                                        </a></div>
                                                </li>
                                                <li class="item1 even">
                                                    <div class="field-link"><a href="#">Reverse engineering</a></div>
                                                </li>
                                                <li class="item2 odd">
                                                    <div class="field-link"><a href="#">Quality control & quality
                                                            assurance</a></div>
                                                </li>
                                                <li class="item3 even">
                                                    <div class="field-link"><a href="#">Maintenance, repair &
                                                            overhaul</a></div>
                                                </li>
                                                <li class="item4 odd">
                                                    <div class="field-link"><a href="#">Medical</a></div>
                                                </li>
                                                <li class="item5 even last">
                                                    <div class="field-link"><a href="#">Other applications</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 sub-item ow-event-card dark-theme-card event-navigation-card">
                                    <div class="component">
                                        <div class="component-content">
                                            {% include "./component-event-cards-navigation.html" %}
                                        </div>
                                    </div>
                                </div>
                                <!-- <div class="col-lg-4 sub-item">
                                    <div class="component ow-link-list">
                                        <div class="component-content">
                                            <h4><a href="#">Metrology</a></h4>
                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link"><a href="#">Product development & design </a></div>
                                                </li>
                                                <li class="item1 even">
                                                    <div class="field-link"><a href="#">Reverse engineering</a></div>
                                                </li>
                                                <li class="item2 odd">
                                                    <div class="field-link"><a href="#">Quality control & quality assurance</a></div>
                                                </li>
                                                <li class="item3 even">
                                                    <div class="field-link"><a href="#">Maintenance, repair & overhaul</a></div>
                                                </li>
                                                <li class="item4 odd">
                                                    <div class="field-link"><a href="#">Medical</a></div>
                                                </li>
                                                <li class="item5 even last">
                                                    <div class="field-link"><a href="#">Other applications</a></div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div> -->

                            </div>
                        </div>

                    </div>


                </div>
            </li>

            <li class="nav-item dropdown has-dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"> Resources </a>

                <div class="dropdown-menu single-col container-fluid">
                    <div class="component-content">
                        <div class="container">
                            <div class="multipal-col row">
                                <div class="col-lg-12 sub-item">
                                    <div class="component ow-link-list">
                                        <div class="component-content">
                                            <h4><a href="#">Metrology inter</a></h4>
                                            <ul>
                                                <li class="item0 odd first">
                                                    <div class="field-link"><a href="#">Product development & design
                                                        </a></div>
                                                </li>
                                                <li class="item1 even">
                                                    <div class="field-link"><a href="#">Reverse engineering</a></div>
                                                </li>
                                                <li class="item2 odd">
                                                    <div class="field-link"><a href="#">Quality control & quality
                                                            assurance</a></div>
                                                </li>
                                                <li class="item3 even">
                                                    <div class="field-link"><a href="#">Maintenance, repair &
                                                            overhaul</a></div>
                                                </li>
                                                <li class="item4 odd">
                                                    <div class="field-link"><a href="#">Medical</a></div>
                                                </li>
                                                <li class="item5 even last">
                                                    <div class="field-link"><a href="#">Other applications</a></div>
                                                </li>
                                                <li>
                                                    <div class="navigation-card-mobile">
                                                        <div class="slider-widget" data-slides-to-show="4" data-slides-to-show-tab="2" data-slides-to-show-mob="1.2"
                                                            data-arrow="true" data-dots="true" data-autoplaySpeed="3000000" data-autoplay="true"
                                                            data-infinite="false" data-row-mobile="2" data-row-tab="1" data-row-desktop="1">
                                                            <div class="slider-item">
                                                                {% include "./component-navigation-card.html" %}
                                                            </div>
                                                            <div class="slider-item">
                                                                {% include "./component-navigation-card.html" %}
                                                            </div>
                                                            <div class="slider-item">
                                                                {% include "./component-navigation-card.html" %}
                                                            </div>
                                                            <div class="slider-item">
                                                                {% include "./component-navigation-card.html" %}
                                                            </div>
                                                        </div>
                                            
                                                    </div>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>


                </div>
            </li>
            <li class="nav-item dropdown has-dropdown"><a class="nav-link" href="javascript:void(0)"> Services & Support
                </a></li>
            <li class="nav-item dropdown has-dropdown">
                <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-toggle="dropdown"> About Us </a>
            </li>
        </ul>

        <div class="navigation-card-mobile">
            <div class="slider-widget" data-slides-to-show="4" data-slides-to-show-tab="2" data-slides-to-show-mob="1.2"
                data-arrow="true" data-dots="true" data-autoplaySpeed="3000000" data-autoplay="true"
                data-infinite="false" data-row-mobile="2" data-row-tab="1" data-row-desktop="1">
                <div class="slider-item">
                    {% include "./component-navigation-card.html" %}
                </div>
                <div class="slider-item">
                    {% include "./component-navigation-card.html" %}
                </div>
                <div class="slider-item">
                    {% include "./component-navigation-card.html" %}
                </div>
                <div class="slider-item">
                    {% include "./component-navigation-card.html" %}
                </div>
            </div>

        </div>
        <!-- <div class="navigation-card-mobile">
        <div class="ow-event-card dark-theme-card event-navigation-card">
            <div class="component">
                <div class="component-content">
                    {% include "./component-event-cards-navigation.html" %}
                </div>
            </div>
        </div>
</div> -->
    </div>
</nav>