<div class="marquee">
    <ul class="marquee-content" data-autoplayspeed="1000" data-slides-to-show-tab="6" data-slides-to-show-mob="2" data-slides-to-show="4">
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg"></i></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-1.svg"></li>
      <li><img class="ow-lazy" alt="" data-src="images/partner-logo-2.svg"></li>
    </ul>
  </div>
  