<div id="videoModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
            <div class="modal-wrapper">
                <div class="ow-video-player">
                    <div class="media-wrapper">
                        <iframe data-src="https://www.youtube.com/embed/Awu1qO_v_ks" type="text/html"></iframe>
                        <div class="ow-play-button">
                            <i class="icon-play-btn"></i>
                        </div>
                    </div>
                    <a href="javascript:void(0)">
                        <span class="sr-only">Text</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>