<div class="news-wrapper">
    <div class="news-wrapper__image">
        <img src="./images/news-image.jpg" alt="img" />
    </div>
    <div class="news-wrapper__content">
        <label class="title-label"> Products </label>
        <h3> Sampling and Part Approvals of EPP Molded Parts </h3>
        <div class="paragraph-wrapper">
            <p>Measure castings with high-productivity industrial measuring cells. Monitor the measurement deviations. Explain the tendencies to customers.</p>
        </div>
        <div class="date"> February 10, 2022</div>
        
        <div class="tag-wrapper" data-tag="5">
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
            <label href="javascript:void(0)" class="tag suggestion-label">Lorem Lipsum <a href="javascript:void(0)" class="far fa-times-circle clear-tag"></a></label>
        </div>

        <div class="category-tag">
            <div class="category-tag__list">
                <span class="category-title">Applications: </span> 
                <span class="category-link">
                    <a href="#">Maintenance, repair and overhaul</a>
                </span>
            </div>
            <div class="category-tag__list clearfix">
                <span class="category-title">Industries: </span> 
                <span class="category-link">
                    <a href="#">Manufacturing, Heavy Industries</a>
                </span>
            </div>
        </div>
    </div>
</div>