<div class="page-description-text description-small bullet-point">
    <p>
        MetraSCAN BLACK and MetraSCAN BLACK|Elite (ISO 17025 accredited): Based on VDI/VDE 2634 part 3 standard.
        Probing error performance is assessed with diameter measurement on traceable sphere artefacts. MetraSCAN 357:
        Typical value for diameter measurement on a calibrated sphere artefact
    </p>
    <p>
        MetraSCAN BLACK and MetraSCAN BLACK|Elite (ISO 17025 accredited): Based on VDI/VDE 2634 part 3 standard.
        Sphere-spacing error is assessed with traceable length artefacts by measuring these at different locations and
        orientations within the working volume. MetraSCAN 357: Value for sphere spacing measurement on calibrated length
        artefacts.
    </p>
    <p>
        The volumetric accuracy performance of the system when using a MaxSHOT 3D cannot be superior to the default
        volumetric accuracy performance for a given model.
    </p>
    <p>
        HandyPROBE Next and HandyPROBE Next|Elite performance assessment (ISO 17025 accredited) is based on partial
        procedure per ISO 10360-12 standard: Probing size error (6.2) and Length error (6.4). Performance is assessed on
        traceable sphere and length artefacts.
    </p>
    <p>
        Also compatible with all major metrology, CAD, and computer graphic software through mesh and point cloud
        import.
    </p>
</div>