<div class="container">
    <div class="component-content">
        <div class="row">
            <div class="col-6 main-logo">
                <div class="component-content">
                    <div class="component image file-type-icon-media-link">
                        <div class="component-content">
                            <a title="Default Logo" href="/">
                                <img src="images/creaform-logo-blue.svg" alt="logo"></a>
                        </div>
                    </div>
                    <div class="component image file-type-icon-media-link">
                        <div class="component-content">
                            <a title="Default Logo" href="/">
                                <img src="images/ametek-logo.svg" alt="logo"></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-6 text-right secondary-nav-top">
                <div class="component-content">
                    <div class="component link">
                        <div class="component-content">
                            <div class="field-link">
                                <a href="/">Contact Us </a>
                            </div>
                        </div>
                    </div>
                    <div class="component link">
                        <div class="component-content">
                            <div class="field-link">
                                <a href="/">Careers <span class="link-career">14</span> </a>
                            </div>
                        </div>
                    </div>
                    <div class="component ow-language-selector">
                        <div class="language">
                            <i class="fas fa-globe"></i>
                            <div class="select-box">
                                <select class="js-language">
                                    <option value="EN"> EN </option>
                                    <option value="sp"> SP </option>
                                    <option value="de"> DE </option>
                                    <option value="it"> IT </option>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>