<!-- Iframe Player -->

<div class="ow-video-player">
    <a href="javascript:void(0)">
        <span class="sr-only">Text</span>
    </a>
    <div class="media-wrapper">
        <iframe data-src="https://www.youtube.com/embed/Awu1qO_v_ks" type="text/html"></iframe>
        <div class="ow-play-button">
            <i class="icon-play-btn"></i>
        </div>
    </div>
    <div class="ow-overlay-thumbnail">
        <img class="ow-lazy" alt="" data-src="images/video-thumbnail.svg">
    </div>
    <div class="overlay-text">
        <h2>Discover the new HandySCAN 3D</br> - BLACK Series</h2>
    </div>
</div>

<!-- Video Player -->

<!-- <div class="ow-video-player ow-video-play">
    <div class="media-wrapper">
        <video controls="" playsinline="" muted="">
            <source src="https://www.w3schools.com/tags/movie.mp4" type="video/mp4">
        </video>
        <div class="ow-play-button">
            <i class="icon-play-btn"></i>
        </div>
    </div>
    <a href="javascript:void(0)">
        <span class="sr-only">Text</span>
    </a>
    <div class="ow-overlay-thumbnail">
        <img class="ow-lazy" alt="" data-src="images/video-thumbnail.svg">
    </div>
    <div class="overlay-text">
        <h2>Discover the new HandySCAN 3D</br> - BLACK Series</h2>
    </div>
</div>  -->