<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:environment="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<resolveTokens>
				<processor patch:before ="*" type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.ResolveOneWebSiteToken, OneWeb.Foundation.SitecoreExtensions" resolve="true" />
			</resolveTokens>
			<httpRequestBegin>
				<processor
					patch:instead="*[@type='Sitecore.XA.Feature.Redirects.Pipelines.HttpRequest.RedirectMapResolver, Sitecore.XA.Feature.Redirects']"
					type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.RedirectMapResolver, OneWeb.Foundation.SitecoreExtensions">
					<CacheExpiration>720</CacheExpiration>
				</processor>
			</httpRequestBegin>
		</pipelines>
		<controlSources>
			<source mode="on" namespace="OneWeb.Foundation.SitecoreExtensions.Classes.Fields" assembly="OneWeb.Foundation.SitecoreExtensions" prefix="oneweb" patch:after="source[@namespace='Sitecore.Shell.Applications.ContentEditor']" />
		</controlSources>
		<settings environment:require="Production">
			<setting name="OneWeb.PrimaryCdnUrl" value="https://ametekcdn.azureedge.net/mediafiles"></setting>
			<setting name="OneWeb.SecondaryCdnUrl" value="https://ametekcdn2.azureedge.net"></setting>
		</settings>
		<settings environment:require="Staging">
			<setting name="OneWeb.PrimaryCdnUrl" value="https://ametekspectro-cdn.azureedge.net"></setting>
			<setting name="OneWeb.SecondaryCdnUrl" value="https://ametekcdn-staging.azureedge.net"></setting>
			<setting name="Media.AlwaysAppendRevision" value="true" />
		</settings>
	</sitecore>
</configuration>