<?xml version="1.0" encoding="utf-8"?>
<!--This is a patch for an issue where SXA bundler does not pick versioned files during asset link creation-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <services>
      <register
        serviceType="Sitecore.XA.Foundation.Theming.Bundler.IAssetBundler, Sitecore.XA.Foundation.Theming">
        <patch:attribute name="implementationType">OneWeb.Foundation.SitecoreExtensions.Overrides.Bundler.AssetBundler, OneWeb.Foundation.SitecoreExtensions</patch:attribute>
      </register>
    </services>
  </sitecore>
</configuration>