<?xml version="1.0" encoding="utf-8"?>
<!--This config is to add a custom logger for all OneWeb code-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <log4net>
      <appender name="OneWebLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/Integration.log.{date}.txt"/>
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
        </layout>
      </appender>
      <logger name="Sitecore.Diagnostics.Integration" additivity="false">
        <level value="ERROR"/>
        <appender-ref ref="IntegrationLogFileAppender"/>
        <appender-ref ref="LogglyAppender"/>
      </logger>
    </log4net>
  </sitecore>
</configuration>