<?xml version="1.0" encoding="utf-8"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:environment="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<settings>
			<setting name="OneWebMailServer" value="email-smtp.us-east-1.amazonaws.com"/>
			<setting name="OneWebMailServerPort" value="587"/>
			<setting name="OneWebMailServerUserName" value="AKIA5DRM7OFGL4HRZMVK" />
			<setting name="OneWebMailServerPassword" value="BMzi5VTb/jxzH0e02Xsi5FvwoSapjmvnM502zbUrwH9+"/>
		</settings>
	</sitecore>
</configuration>