<?xml version="1.0" encoding="utf-8"?>

<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/"
               xmlns:search="http://www.sitecore.net/xmlconfig/search/">
  <sitecore role:require="Standalone or ContentManagement or ContentDelivery" search:require="solr">
    <contentSearch>
      <indexConfigurations>
        <OneWebBusinessSolrIndexConfiguration
          type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <indexFieldStorageValueFormatter
            type="Sitecore.ContentSearch.SolrProvider.Converters.SolrIndexFieldStorageValueFormatter, Sitecore.ContentSearch.SolrProvider">
            <converters hint="raw:AddConverter">
              <converter
                typeConverter="OneWeb.Foundation.SitecoreExtensions.Classes.TypeConverters.JsonTypeConverter, OneWeb.Foundation.SitecoreExtensions"
                handlesType="Newtonsoft.Json.Linq.JObject, Newtonsoft.Json" />
            </converters>
          </indexFieldStorageValueFormatter>
        </OneWebBusinessSolrIndexConfiguration>
        <OneWebSolrIndexConfiguration
          type="Sitecore.ContentSearch.SolrProvider.SolrIndexConfiguration, Sitecore.ContentSearch.SolrProvider">
          <indexFieldStorageValueFormatter
            type="Sitecore.ContentSearch.SolrProvider.Converters.SolrIndexFieldStorageValueFormatter, Sitecore.ContentSearch.SolrProvider">
            <converters hint="raw:AddConverter">
              <converter
                typeConverter="OneWeb.Foundation.SitecoreExtensions.Classes.TypeConverters.JsonTypeConverter, OneWeb.Foundation.SitecoreExtensions"
                handlesType="Newtonsoft.Json.Linq.JObject, Newtonsoft.Json" />
            </converters>
          </indexFieldStorageValueFormatter>
        </OneWebSolrIndexConfiguration>
      </indexConfigurations>
    </contentSearch>
  </sitecore>
</configuration>