<?xml version="1.0" encoding="utf-8"?>
<!--This patch is to add scriban functionalities ported from 9.3 to Sitecore 9.2-->
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
  <sitecore>
    <pipelines>
      <decorateRendering>
        <processor
          patch:instead="*[@type='Sitecore.XA.Foundation.Presentation.Pipelines.DecorateRendering.GetRenderingCssClasses, Sitecore.XA.Foundation.Presentation']"
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetRenderingCssClasses, OneWeb.Foundation.SitecoreExtensions" />
      </decorateRendering>
      <parseVariantFields>
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.ParseVariantFields.ParseScriban, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
      </parseVariantFields>
      <renderVariantField>
        <processor
          patch:after="*[@type='Sitecore.XA.Foundation.RenderingVariants.Pipelines.RenderVariantField.RenderSection, Sitecore.XA.Foundation.RenderingVariants']"
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.RenderVariantFields.RenderScriban, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
      </renderVariantField>
      <generateScribanContext>
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.InitializeScribanContext, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddRenderingData, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddPageObject, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddSiteObject, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddFieldRendererFunction, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddQueryFunction, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddFollowFunctions, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddEditFrameFunctions, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddLinkFunctions, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddFieldFunctions, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddDecorationFunction, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddTranslateFunction, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddContext, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GenerateScribanContext.AddOneWebFunctions, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
      </generateScribanContext>
      <getScribanItemMembers>
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetChildren, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetDisplayName, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetHasChildren, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetHasLayout, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetLanguage, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetMediaUrl, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetName, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetParent, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetID, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetPath, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetTemplateId, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetTemplateName, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetUrl, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
        <processor
          type="OneWeb.Foundation.SitecoreExtensions.Overrides.Pipelines.XA.GetScribanItemMembers.GetVersion, OneWeb.Foundation.SitecoreExtensions"
          resolve="true" />
      </getScribanItemMembers>
    </pipelines>
    <services>
      <register
        serviceType="OneWeb.Foundation.SitecoreExtensions.Services.IScribanTemplateRenderer, OneWeb.Foundation.SitecoreExtensions"
        implementationType="OneWeb.Foundation.SitecoreExtensions.Services.ScribanTemplateRenderer, OneWeb.Foundation.SitecoreExtensions"
        lifetime="Singleton" />
    </services>
  </sitecore>
</configuration>