@model OneWeb.Feature.PageContent.Models.CustomCardModel

<div class="card">
    <img src="@Model.ImageUrl" alt="@Model.Title" class="card-image">
    <div class="card-content">
        <h3 class="card-title">@Model.Title</h3>
        <p class="card-description">@Model.Description</p>
    </div>
</div>