<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		<pipelines>
			<scsRegister>
				<!-- Registers Content Migrator with Sidekick -->
				<processor type="Sidekick.ContentMigrator.ContentMigrationRegistration, Sidekick.ContentMigrator" >

					<!--
					*****************************************************************************************************************
					Modify and enable zSidekick.ContentMigrator.Local.config.example for configuring service security, allowed items, and the server list
					*****************************************************************************************************************

					-->
					
										<!--
						This is a shared secret that is used to authenticate to remote servers you want to pull content from.
						This setting must be:
						- Identical across all servers sharing content with Sidekick Content Migrator
						- At least 32 characters long
						- It is highly recommended to use a random string generator for this secret. Do not use dictionary words.
					-->
					<AuthenticationSecret>MSjQAU7H3DRGnVqdL51HyWqSQh9p7R6U</AuthenticationSecret>
					
										<!--
						This is to set the defaults for the options checkboxes.  
						If you find yourself regularly checking or unchecking options, consider changing the defaults here.
					-->
					<DefaultChildren>true</DefaultChildren>
					<DefaultOverwrite>true</DefaultOverwrite>
					<DefaultRemoveLocalNotInRemote>false</DefaultRemoveLocalNotInRemote>
					<DefaultPullParent>true</DefaultPullParent>
					<DefaultEventDisabler>true</DefaultEventDisabler>
					<DefaultBulkUpdate>true</DefaultBulkUpdate>
					<DefaultUseItemBlaster>false</DefaultUseItemBlaster>
					<DefaultIgnoreRevId>false</DefaultIgnoreRevId>

					<!-- 
						This is recommended to stay true if you have a massive amount of content.  By default the checksum manager
						regenerates the checksum every two minutes or on item event.  If you have 1 million + items in the area
						managed by Content Migrator it may be too expensive of an operation to be useful.
					-->
					<ManualChecksumOnly>true</ManualChecksumOnly>
					
										<!--
						Sync Root Settings
						These define the content paths that are allowed to be pulled with Sidekick.
						Sync only _content_ (e.g. media, content, goals, etc) with Sidekick. 
						For developer items such as renderings, use Unicorn instead.
					-->
					<roots hint="raw:BuildRoot">
						<root>/sitecore/content</root>
						<root>/sitecore/media library</root>
						<root>/sitecore/system/Marketing Control Panel</root>
					</roots>
					
										<!--
						Configure the remote server(s) that this server may pull content from.
						For example, you might add the URLs to your production content management server here.
						These servers must have Sidekick Content Migrator installed.
						
						You can set a label for each entry by providing the "desc"-attribute.
						
						NOTE: It is _highly_ recommended to use an SSL/TLS connection for all content migration.
					-->
					<servers hint="raw:BuildServerList">
						<server desc="QA">https://oneweb-ow.qa.ametekweb.com/</server>
						<server desc="STAGE">https://ametek-cms.staging.ametekweb.com/</server>
						<server desc="PROD">https://mc-5c00a210-02ac-41fd-aad5-572890-cm.azurewebsites.net/</server>
					</servers>
					
					
					
					
					<!-- Security roles allowed to use Content Migrator. Leave blank for any role, separate multiple roles by | character -->
					<param name="roles"></param>
					<!-- set to "true" to only allow admins to use Content Migrator -->
					<param name="isAdmin">true</param>
					<!-- Usernames allowed to use Content Migrator. Leave blank for any users, separate multiple users by | character -->
					<param name="users"></param>
					<!-- Number of threads that are going out to the remote server to queue up item data to be installed-->
					<param name="remotePullingThreads">3</param>
					<!-- Number of threads taking queued up data and updating or installing the item data in the database-->
					<param name="databaseWriterThreads">3</param>
				</processor>
			</scsRegister>
		</pipelines>
		<!--<scheduling>
			<agent description="production content to dev" type="Sidekick.ContentMigrator.ContentAgent, Sidekick.ContentMigrator" method="Run" interval="00:01:00">
				<param desc="remote server">[enter server url here i.e. https://sitecore-dev]</param>
				<param desc="id root">{0DE95AE4-41AB-4D01-9EB0-67441B7C2450},{3D6658D8-A0BF-4E75-B3E2-D050FABCF4E1}</param>
				<param desc="database">master</param>
				<param desc="bulk update">true</param>
				<param desc="children">true</param>
				<param desc="overwrite">true</param>
				<param desc="event disabler">true</param>
				<param desc="pull parent">true</param>
				-->
				<!-- make sure this is false if you would like to keep unique testing content intact-->
					<!--
				<param desc="removeLocalNotInRemote">true</param>
				<param desc="ignoreRevId">false</param>
				<param desc="useItemBlaster">true</param>
			</agent>
		</scheduling>-->
	</sitecore>
</configuration>