<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/"
               xmlns:unicorn="http://www.sitecore.net/xmlconfig/unicorn/">
  <sitecore unicorn:require="Enabled">
    <unicorn>
      <configurations>
        <configuration name="OneWeb" description="OneWeb serialized item paths">
          <targetDataStore physicalRootPath="$(sourceFolder)\OneWeb"
                           type="Rainbow.Storage.SerializationFileSystemDataStore, Rainbow" useDataCache="false"
                           singleInstance="true" />
          <predicate type="Unicorn.Predicates.SerializationPresetPredicate, Unicorn" singleInstance="true">
            <!--Core Submit Action-->
			  <include name="coresa" database="core" path="/sitecore/client/Applications/FormsBuilder/Components/Layouts/Actions">
				  <exclude children="true">
					  <except name="OneWebSendEmail" />
					  <except name="OneWebRedirect" />
				  </exclude>
			  </include>
            <!--Core Custom Fields-->
            <include name="corecf" database="core" path="/sitecore/system/Field types/OneWeb"/>
            <!--Content-->
            <include name="c" database="master" path="/sitecore/content/OneWeb">
              <exclude childrenOfPath="OneWeb">
                <except name="OneWeb" />
              </exclude>
            </include>
            <!--Forms-->
            <include name="forms" database="master" path="/sitecore/Forms/OneWeb">
              <exclude childrenOfPath="OneWeb">
                <except name="OneWeb" />
              </exclude>
            </include>
            <!--Media Feature-->
            <include name="mfe" database="master" path="/sitecore/media library/Feature/OneWeb" />
            <!--Media Foundation-->
            <include name="mfo" database="master" path="/sitecore/media library/Foundation/OneWeb" />
            <!--Media Project-->
            <include name="mp" database="master" path="/sitecore/media library/Project/OneWeb">
              <exclude childrenOfPath="OneWeb">
                <except name="OneWeb" />
                <except name="Shared" />
              </exclude>
            </include>
            <!--Themes-->
            <include name="th" database="master" path="/sitecore/media library/Themes/OneWeb">
              <exclude childrenOfPath="OneWeb">
                <except name="OneWeb" />
              </exclude>
            </include>
            <!--Layouts Feature-->
            <include name="lfe" database="master" path="/sitecore/layout/Layouts/Feature/OneWeb" />
            <!--Layouts Foundation-->
            <include name="lfo" database="master" path="/sitecore/layout/Layouts/Foundation/OneWeb" />
            <!--Layouts Project-->
            <include name="lp" database="master" path="/sitecore/layout/Layouts/Project/OneWeb" />
            <!--Placeholder Settings Feature-->
            <include name="phfe" database="master" path="/sitecore/layout/Placeholder Settings/Feature/OneWeb" />
            <!--Placeholder Settings Foundation-->
            <include name="phfo" database="master" path="/sitecore/layout/Placeholder Settings/Foundation/OneWeb" />
            <!--Renderings Feature-->
            <include name="rfe" database="master" path="/sitecore/layout/Renderings/Feature/OneWeb" />
            <!--Renderings Foundation-->
            <include name="rfo" database="master" path="/sitecore/layout/Renderings/Foundation/OneWeb" />
            <!--Renderings Project-->
            <include name="rp" database="master" path="/sitecore/layout/Renderings/Project/OneWeb" />
            <!--Dictionary-->
            <include name="d" database="master" path="/sitecore/system/Dictionary/OneWeb">
              <exclude children="true">
                <except name="OneWeb" />
              </exclude>
            </include>
            <!--Settings Feature-->
            <include name="sfe" database="master" path="/sitecore/system/Settings/Feature/OneWeb" />
            <!--Settings Foundaton-->
            <include name="sfo" database="master" path="/sitecore/system/Settings/Foundation/OneWeb" />
            <!--Settings Project-->
            <include name="sp" database="master" path="/sitecore/system/Settings/Project/OneWeb" />
            <!--Settings Rendering Variant Enum-->
            <include name="srv" database="master"
                     path="/sitecore/system/Settings/Foundation/Experience Accelerator/Rendering Variants/Enums/Tags/script" />
            <!--Alias-->
            <include name="a" database="master" path="/sitecore/system/Aliases/OneWeb">
              <exclude children="true">
                <except name="OneWeb" />
              </exclude>
            </include>
            <!--PowerShell Scripts-->
            <include name="ps" database="master" path="/sitecore/system/Modules/PowerShell/Script Library/SXA/OneWeb">
            </include>
            <!--Submit Action-->
            <include name="sa" database="master" path="/sitecore/system/Settings/Forms/Submit Actions/OneWeb" />
			<!--Custom Field Validators-->
			<include name="cfv" database ="master" path="/sitecore/system/Settings/Validation Rules/Field Rules/OneWeb"/>
            <!--Branch Template Feature-->
            <include name="btfe" database="master" path="/sitecore/templates/Branches/Feature/OneWeb" />
            <!--Branch Template Foundation-->
            <include name="btfo" database="master" path="/sitecore/templates/Branches/Foundation/OneWeb" />
            <!--Branch Template Project-->
            <include name="btp" database="master" path="/sitecore/templates/Branches/Project/OneWeb" />
            <!--Template Feature-->
            <include name="tfe" database="master" path="/sitecore/templates/Feature/OneWeb" />
            <!--Template Foundation-->
            <include name="tfo" database="master" path="/sitecore/templates/Foundation/OneWeb" />
            <!--Template Rendering Variant Standard Values-->
            <include name="trvsv" database="master"
                     path="/sitecore/templates/Foundation/Experience Accelerator/Rendering Variants/Variant Definition/__Standard Values" />
            <!--Template Project-->
            <include name="tp" database="master" path="/sitecore/templates/Project/OneWeb" />
          </predicate>
        </configuration>
      </configurations>
    </unicorn>
  </sitecore>
</configuration>