{% extends "layout/header-article-layout.html" %} {% block maincontent %}
<main>
    <div id="content">

        {% include "../templates/components/modal-popup.html" %}
        
        
        <div class="container-fluid no-margin-bottom">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="col-12 p-0">
                            {% include "../templates/components/component-mobile-tabs.html" %}
                        </div>
                        <div class="col-lg-9 article-left-section">
                            <div class="col-12">
                                <div class="rich-text">
                                    <h2 class="mb-5">The maintenance of wind turbines, and whole wind farms, is a challenge. Normally wind turbines are designed to operate for 20 years. During these 20 years they are subjected to all kinds of weather conditions and heavy loads, but thanks to modern acquisition technology and advanced numerical models, such conditions can be addressed and even turned into increased annual energy production.</h2>
                                    <p> To optimize the production throughout their lifetime, their operating conditions must be understood in detail and then regularly maintained on this basis. The goal is to keep wear and tear under control and prevent the generation of unexpected vibrations and/or weak points that could compromise the integrity of the turbine structure and components, all while maximizing the power production.
                                    </p>
                                    <p>The Spanish company Nabla Wind Power is part of the Nabla Wind Hub group, an independent service provider that offers unique and multitechnology solutions for wind farms life extension, performance improvement and maintenance optimization.
                                    </p><p> To optimize the production throughout their lifetime, their operating conditions must be understood in detail and then regularly maintained on this basis. The goal is to keep wear and tear under control and prevent the generation of unexpected vibrations and/or weak points that could compromise the integrity of the turbine structure and components, all while maximizing the power production.
                                    </p>
                                    <p>The Spanish company Nabla Wind Power is part of the Nabla Wind Hub group, an independent service provider that offers unique and multitechnology solutions for wind farms life extension, performance improvement and maintenance optimization.
                                    </p><p> To optimize the production throughout their lifetime, their operating conditions must be understood in detail and then regularly maintained on this basis. The goal is to keep wear and tear under control and prevent the generation of unexpected vibrations and/or weak points that could compromise the integrity of the turbine structure and components, all while maximizing the power production.
                                    </p>
                                    <p>The Spanish company Nabla Wind Power is part of the Nabla Wind Hub group, an independent service provider that offers unique and multitechnology solutions for wind farms life extension, performance improvement and maintenance optimization.
                                    </p><p> To optimize the production throughout their lifetime, their operating conditions must be understood in detail and then regularly maintained on this basis. The goal is to keep wear and tear under control and prevent the generation of unexpected vibrations and/or weak points that could compromise the integrity of the turbine structure and components, all while maximizing the power production.
                                    </p>
                                    <p>The Spanish company Nabla Wind Power is part of the Nabla Wind Hub group, an independent service provider that offers unique and multitechnology solutions for wind farms life extension, performance improvement and maintenance optimization.
                                    </p><p> To optimize the production throughout their lifetime, their operating conditions must be understood in detail and then regularly maintained on this basis. The goal is to keep wear and tear under control and prevent the generation of unexpected vibrations and/or weak points that could compromise the integrity of the turbine structure and components, all while maximizing the power production.
                                    </p>
                                    <p>The Spanish company Nabla Wind Power is part of the Nabla Wind Hub group, an independent service provider that offers unique and multitechnology solutions for wind farms life extension, performance improvement and maintenance optimization.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 article-right-section ">
                            <div class="component-content">

                            
                            <div class="row sticky-top">
                                <div class="col-12 mb-5">
                                    Need Specific Information?
                                    <a href="#" rel="" class="button btn-default" target="_blank">
                                        <i class="icon-right-arrow"></i>
                                        <span>Talk to an Expert</span><i class="icon-right-arrow"></i>
                                    </a>
                                </div>
                                <div class="col-12">
                                    Related Content
                                    <div class="ow-card-icon mb-3">
                                        {% include "../templates/components/component-simple-list.html" %}
                                    </div>
                                    <a href="#" rel="" class="button btn-simple" target="_blank">
                                        <i class="icon-right-arrow"></i>
                                        <span>Recent Webinars</span><i class="icon-right-arrow"></i>
                                    </a>
                                    <div class="ow-card-icon mt-3">
                                        {% include "../templates/components/component-simple-list.html" %}
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</main>
{% endblock %}