{% extends "layout/layout.html" %} {% block maincontent %}
<main>
    <div id="content">

        <!-- event card -->
        <div class="component container-fluid ow-background-wrapper dark-theme-card" style="background-image:url('./images/comparison-image.jpg')">
            <div class="component-content">
                <div class="component row">
                    <div class="component container">
                        <div class="component-content">
                            <div class="component row">
                                <div class="col-md-3 card-desktop-item text-center text-md-left">
                                    <div class="component text-wrapper">
                                        <h2>
                                            Experience the performance of portable 3D scanners.
                                        </h2>
                                        <a href="#" rel="" class="button btn-simple" target="_blank">
                                            <span>Ask for a live demo </span>
                                        </a>
                                    </div>
                                </div>
                                <div class="col-md-9">
                                    <div class="row">  
                                        {% include "../templates/components/component-comparison-carousal.html" %}
                                    </div>
                                </div>
                                <div class="col-md-3 d-md-none card-mobile-item text-center text-md-left">
                                    <div class="component text-wrapper">
                                        <h2>
                                            Experience the performance of portable 3D scanners.
                                        </h2>
                                        <a href="#" rel="" class="button btn-simple" target="_blank">
                                            <span>Ask for a live demo </span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</main>
{% endblock %}