{% extends "layout/layout.html" %} {% block maincontent %}
<main>
    <div id="content">

        <!-- event card -->
        <div class="component container-fluid dark-theme-base">
            <div class="component-content">
                <div class="component row">
                    <div class="component container">
                        <div class="component-content">
                            <div class="component row">
                                <div class="component column col-12">
                                    <div class="component-content">
                                        <div class="component ow-event-card dark-theme-card mt-5">
                                            <div class="component-content">
                                                <div class="row">
                                                <div class="col-lg-3 px-0 px-lg-3 mt-4">
                                                    <a href="javscript:void(0)">{% include
                                                        "../templates/components/component-event-cards.html" %}</a>
                                                </div>
                                                <div class="col-lg-3 px-0 px-lg-3 mt-4">
                                                    <a href="javscript:void(0)">{% include
                                                        "../templates/components/component-event-cards.html" %}</a>
                                                </div>
                                                <div class="col-lg-3 px-0 px-lg-3 mt-4">
                                                    <a href="javscript:void(0)">{% include
                                                        "../templates/components/component-event-cards.html" %}</a>
                                                </div>
                                                <div class="col-lg-3 px-0 px-lg-3 mt-4">
                                                    <a href="javscript:void(0)">{% include
                                                        "../templates/components/component-event-cards.html" %}</a>
                                                </div>
                                                <div class="col-lg-3  px-0 px-lg-3 mt-4">
                                                    <a href="javscript:void(0)">{% include
                                                        "../templates/components/component-event-cards.html" %}</a>
                                                </div>
                                                <div class="col-lg-3 px-0 px-lg-3 mt-4">
                                                    <a href="javscript:void(0)">{% include
                                                        "../templates/components/component-event-cards.html" %}</a>
                                                </div>
                                            </div>
                                        </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>
</main>
{% endblock %}