{% extends "layout/layout.html" %} {% block maincontent %}
<main>
    <div id="content">

        {% include "../templates/components/modal-popup.html" %}

        <!-- Card List -->
        <div class="component container-fluid large-padding">
            <div class="component-content">
                <div class="component row">
                    <div class="component container">
                        <div class="component-content">
                            <div class="component row">
                                <div class="col-lg-3">
                                    <div class="filter-tab">
                                        <span class="icon-filter">
                                            <span class="path1"></span>
                                            <span class="path2"></span>
                                            <span class="path3"></span>
                                            <span class="path4"></span>
                                        </span> 
                                        Refine your search
                                    </div>
                                    <div class="filter-wrapper-container">
                                        <div class="filter-tab filter-title">
                                            <span class="icon-filter">
                                                <span class="path1"></span>
                                                <span class="path2"></span>
                                                <span class="path3"></span>
                                                <span class="path4"></span>
                                            </span> 
                                            Refine your search
                                            <a href="javascript:void(0)" class="clearAll-filter">Clear all</a>
                                            <a href="javascript:void(0)" class="close-filter"> 
                                                <span class="sr-only"> Cross Icon </span> 
                                            </a>
                                        </div>
                                        {% include "../templates/components/filter-card.html" %}
                                        {% include "../templates/components/filter-card.html" %}
                                        {% include "../templates/components/filter-card.html" %}
                                    </div>
                                </div>
                                <div class="col-lg-9">
                                    <div class="search-container">
                                        <div class="search-container__result light-view-card">
                                            <div class="card-list-wrapper">
                                                <a href="javascript:void(0)" class="card">
                                                    <div class="card-title">Electronic designer - R&D</div>
                                                    <div class="card-info">
                                                        <div class="profile"><i class="icon-job"></i>Research and development</div>
                                                        <div class="hours"><i class="icon-clock"></i>Full time</div>
                                                        <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="card-list-wrapper">
                                                <a href="javascript:void(0)" class="card">
                                                    <div class="card-title">Electronic designer - R&D</div>
                                                    <div class="card-info">
                                                        <div class="profile"><i class="icon-job"></i>Research and development</div>
                                                        <div class="hours"><i class="icon-clock"></i>Full time</div>
                                                        <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="card-list-wrapper">
                                                <a href="javascript:void(0)" class="card">
                                                    <div class="card-title">Electronic designer - R&D</div>
                                                    <div class="card-info">
                                                        <div class="profile"><i class="icon-job"></i>Research and development</div>
                                                        <div class="hours"><i class="icon-clock"></i>Full time</div>
                                                        <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
                                                    </div>
                                                </a>
                                            </div>

                                            <div class="card-list-wrapper">
                                                <a href="javascript:void(0)" class="card">
                                                    <div class="card-title">Electronic designer - R&D</div>
                                                    <div class="card-info">
                                                        <div class="profile"><i class="icon-job"></i>Research and development</div>
                                                        <div class="hours"><i class="icon-clock"></i>Full time</div>
                                                        <div class="location"><i class="icon-location"></i>HQ - Lévis, CA</div>
                                                    </div>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="search-container__pagination">
                                            <div class="news-pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>


</div>
</main>
{% endblock %}