{% extends "layout/layout.html" %} {% block maincontent %}
<main>
    <div id="content">

        {% include "../templates/components/modal-popup.html" %}


        <div class="component container-fluid small-paddings">
            <div class="component row">
                <div class="component container">
                    <div class="component row">
                        <div class="component col-12">
                            <div class="breadcrumb">
                                {% include "../templates/components/component-breadcrumb.html" %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <!-- Simple Header with Media -->
        <div class="component container-fluid simple-header ow-head-space">
            <div class="component row">
                <div class="container-fluid">
                    <div class="row">
                        <div class="container">
                            <div class="row">
                                <div class="component col-12 promo-card no-overflow">
                                    {% include "../templates/components/component-PromoCard-overflow.html" %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</main>
{% endblock %}