{% extends "layout/layout.html" %} {% block maincontent %}
<main>
    <div id="content">

        <!-- Product Card Small -->
        <div class="container-fluid large-padding">
            <div class="row">
                <div class="container">
                    <div class="row">
                        <div class="slider-widget"
                            data-slides-to-show="4" data-slides-to-show-tab="2" data-slides-to-show-mob="1"
                            data-arrow="true" data-dots="true" data-autoplaySpeed="3000000" data-autoplay="true"
                            data-infinite="false" data-row-mobile="2" data-row-tab="1" data-row-desktop="1">
                            <div class="slider-item">
                                <div class="ow-product-card">
                                    <div class="component-content">
                                        <a class="product-card-wrapper" href="javascript:void(0)">
                                            {% include "../templates/components/component-productcardv1.html" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="ow-product-card">
                                    <div class="component-content">
                                        <a class="product-card-wrapper" href="javascript:void(0)">
                                            {% include "../templates/components/component-productcardv1.html" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="ow-product-card">
                                    <div class="component-content">
                                        <a class="product-card-wrapper" href="javascript:void(0)">
                                            {% include "../templates/components/component-productcardv1.html" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="ow-product-card">
                                    <div class="component-content">
                                        <a class="product-card-wrapper" href="javascript:void(0)">
                                            {% include "../templates/components/component-productcardv1.html" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="ow-product-card">
                                    <div class="component-content">
                                        <a class="product-card-wrapper" href="javascript:void(0)">
                                            {% include "../templates/components/component-productcardv1.html" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="ow-product-card">
                                    <div class="component-content">
                                        <a class="product-card-wrapper" href="javascript:void(0)">
                                            {% include "../templates/components/component-productcardv1.html" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-item">
                                <div class="ow-product-card">
                                    <div class="component-content">
                                        <a class="product-card-wrapper" href="javascript:void(0)">
                                            {% include "../templates/components/component-productcardv1.html" %}
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
{% endblock %}