@using Sitecore.XA.Foundation.DynamicPlaceholders.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.Presentation.Services

@model OneWeb.Feature.PageStructure.Models.PageStructureRenderingModel

@{
    const string placeholderKeyPrefix = "ow-section";
    var key = string.Format("{0}-{1}", placeholderKeyPrefix, Model.Id);
    var style = string.Empty;
    if (!string.IsNullOrWhiteSpace(Model.BackgroundColor))
    {
        style = string.Format("style='background-color: {0}'", Model.BackgroundColor);
    }
    string SectionId = string.Empty;
    var rc = Sitecore.Mvc.Presentation.RenderingContext.CurrentOrNull;
    if (rc != null)
    {
        var parms = rc.Rendering.Parameters;
        SectionId = parms["SectionId"];
    }
}

<div @Html.Sxa().Component(Model.Rendering.RenderingCssClass ?? "ow-sec", Model.Attributes)>
    <section id="@SectionId" @Html.Raw(style)>
        @using (PlaceholderDatasourceContext.EnterContext(Model.Rendering.Item))
        {@Html.Sitecore().Placeholder(key)}
    </section>
</div>