<footer>
        <div class="container-fluid dark-gray-background pt-5">
            <div class="row">
            <div class="container">
 <!--primary-footer-->
 <!-- border-bottom -->
           <div class="row pb-5">
              <div class="col-6 col-md-2">
                 <div class="primary-footer">
                     <h4><a href="#">About Us</a></h4>
                    <ul>
                      
                       <li>
                          <a href="#">Overview</a>
                       </li>
                       <li>
                          <a href="#">The AMETEK growth model</a>
                       </li>
                       <li>
                          <a href="#">News</a>
                       </li>
                       <li>
                          <a href="#">Governance</a>
                       </li>
                       <li>
                          <a href="#">Management team</a>
                       </li>
                       <li>
                          <a href="#">Global locations</a>
                       </li>
                    </ul>
                 </div>
              </div>
              <div class="col-6 col-md-2">
                 <div class="primary-footer">
                        <h4><a href="#">Businesses</a></h4>
                       
                    <ul>                      
                       <li>
                          <a href="#">Business Directory</a>
                       </li>
                    </ul>
                 </div>
              </div>
              <div class="col-6 col-md-2">
                 <div class="primary-footer">
                        <h4><a href="#">News</a></h4>
                    <ul>                      
                       <li>
                          <a href="#">Lorem IIpsum</a>
                       </li>
                    </ul>
                 </div>
              </div>
              <div class="col-6 col-md-2">
                 <div class="primary-footer">
                        <h4><a href="#">Investors</a></h4>
                    <ul>
                       <li>
                          <a href="#">Overview</a>
                       </li>
                       <li>
                          <a href="#">Financial reporting </a>
                       </li>
                       <li>
                          <a href="#">Stock information </a>
                       </li>
                       <li>
                          <a href="#">Events and presentations? </a>
                       </li>
                    </ul>
                 </div>
              </div>
              <div class="col-6 col-md-2">
                 <div class="primary-footer">
                        <h4><a href="#">Careers</a></h4>
                    <ul>                       
                       <li>
                          <a href="#">Find your career</a>
                       </li>
                       <li>
                          <a href="#">Working at AMETEK </a>
                       </li>
                       <li>
                          <a href="#">Making a global difference </a>
                       </li>
                       <li>
                          <a href="#">Diversity and inclusion </a>
                       </li>
                       <li>
                          <a href="#">Sustainability </a>
                       </li>
                    </ul>
                 </div>
              </div>
              <div class="col-6 col-md-2">
                  <div class="ow-link-list">
                      <h4>Conatct US </h4>
                      <p>AMETEK, Inc.<br>
                         Corporate Headquarters<br>
                         1100 Cassatt Road<br> 
                         Berwyn, PA 19312</p>                          

                  </div>
                  <!--socil icon-->
                 <div class="ow-image-link-list">
                    <ul>
                       <li><a href="#a"><i class="fab fa-facebook-f"></i></a></li>
                       <li><a href="#a"><i class="fab fa-linkedin-in"></i></a></li>
                       <li><a href="#a"><i class="fab fa-twitter"></i></a></li>
                    </ul>
                 </div>
              </div>
           </div>
        
        <!--sighnup form-->
           
           <!-- <div class="row mt-5 mb-5">
              <div class="col-md-6">
                 <div class="form-group">
                    <div class="email-subscribe">
                       <label>Sign up for our Newsletter!</label>
                       <input class="col-12 email-input" type="email" placeholder="Enter Email address">
                       <input class="btn btn-primary" type="submit" name="" value="SIGN UP">
                    </div>
                 </div>
              </div>
              <div class="col-md-6">
                    <div class="shared-global">
                            <ul class="">
                                    <li class="phone-number"><a href="tel:610-647-2121"><i class="fas fa-phone-alt"></i> Tel:610-647-2121</a></li>
                                    <li class="mailto"><a href="mailto:info.corp@ametek.com"><i class="fas fa-envelope"></i> Email: info.corp@ametek.com</a> </li>
                                </ul>
                     </div>

                 <div class="question">
                    <h4>Questions?</h4>
                    <a href="#" class="btn btn-primary">Contact Us</a>
                 </div>
                 
               
              </div>
           </div> -->

        </div>
    </div>
    </div>
        
        <!--secondary-footer-->
        <div class="container-fluid mod-gray-background"> 
            <div class="row">          
              <div class="container">
                 <div class="row">
                    <div class="col-md-6">
                        <div class="secondary-footer">
                       <ul>
                          <li>
                             <a href="#">Terms of Use</a> 
                          </li>

                          <li><a  href="#">Privacy Policy</a></li>
                        
                       </ul>
                    </div>
                    </div>
                    
                    <div class="col-md-6">
                        <div class="secondary-footer right-align">
                       <ul>
                          <li>
                             <a href="#">Site Map</a>
                          </li>
                          <li><a href="#">Unsubscribe</a></li>

                          <li><a href="#">Overview</a></li>
                          
                       </ul>
                    </div>
                    </div>
                 </div>
              </div>
           
           </div>
        </div>
<!--copyright-->

<div class="container-fluid light-gray-background">
    <div class="row">

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="highlighted-text">
                  <div class="component-content">
                     <div class="rte_content">
                        <p>©2017 AMETEK.Inc. All rights reserved.</p>
                     </div>
                 </div>
                </div>

</div>
</div>
</div>

        </div>
     </footer>